{% extends "base.html" %}
{% load cache %}
{% load projects_category %}
{% load catalog_filters %}
{% block site_wrapper %}
{% cache 1000 projects_page %}
{% category_list request %}
                            <div id="menu_block">

<div id="content_block" class="alignleft clearfix" style="width: 1194px;"><div id="content">		
<div class="blog_side alignleft">
 <ul>
		<h6>Категории</h6>
			{% category request %}
	</ul>
						        {% if projects.has_previous %}
						            <a href="?page={{ projects.previous_page_number }}">Сюда</a>
						        {% endif %}
                                </div>
                                <div class="blog_post">
								    {% for project in projects.object_list %}
								<div class="odna_nov">
								    <a href="{{ project.get_absolute_url }}" class="post_title"><h1>{{ project.name }}</h1></a>
								    <p class="date">{{ project.date }} <a href="{{ project.category.all.0.get_absolute_url }}">{{ project.category.all.0 }}</a></p>
								    {{ project.thumbnail_entry|safe }}
									<div class="clr"></div>
								</div>
							{% endfor %}</div>
                                </div></div>
                                <span class="current">
						            Страница {{ projects.number }} из {{ projects.paginator.num_pages }}.
						        </span>

						        {% if projects.has_next %}
						            <a href="?page={{ projects.next_page_number }}">Туда</a>
						        {% endif %}
                                </div>
                                </div>
{% endcache %}
{% endblock %}
