{% extends "base.html" %}
{% load projects_category %}
{% block site_wrapper %}
							{% for project in projects.object_list %}
								<div class="blog_post">
								    <a href="{{ project.get_absolute_url }}" class="post_title"><h1>{{ project.name }}</h1></a>
								    <p class="date">{{ project.date }}</p>
								    {{ project.thumbnail_entry|safe }}
									<div class="clr"></div>
								</div>
							{% endfor %}
                                Категории:<br>
                                {% category %}
						        {% if projects.has_previous %}
						            <a href="?page={{ projects.previous_page_number }}">Сюда</a>
						        {% endif %}

						        <span class="current">
						            Страница {{ projects.number }} из {{ projects.paginator.num_pages }}.
						        </span>

						        {% if projects.has_next %}
						            <a href="?page={{ projects.next_page_number }}">Туда</a>
						        {% endif %}
{% endblock %}