<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/admin/css/bootstrap.css">
    <link rel="stylesheet" href="/static/admin/css/admin.css">
    <link rel="stylesheet" href="/static/css/chosen.css">
    <link rel="stylesheet" href="/static/admin/css/smoothness/jquery-ui-1.8.20.custom.css">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/form.js"></script>
    <script type="text/javascript">
    	jQuery(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
		    function safeMethod(method) {
		        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		    }
		
		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
		});
    </script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluide header">		
				<div class="pull-right">
                    Звонков сегодня: {{ calls_today }}|
                    Всего звонков: {{ all_calls }}|
                    Переведено в клиенты за сегодня: {{ clients_from_calls_today }}|
                    Всего переведено в клиенты: {{ clients_from_calls }}|
                    Процент успеха за сегодня: {{ succeess_today }}|
                    Всего процент успеха: {{ succeess }}|
                    Доведено до конца {{ profit_clients }}
					<a href="/myadmin/cold/" class="btn btn-info{% if '/myadmin/cold/' == request.path %}active disabled{% endif %}"><i class="icon-bell icon-white"></i> Холодные звонки</a>
					<a href="/myadmin/clients/" class="btn btn-warning{% if '/myadmin/clients/' == request.path %}active disabled{% endif %}"><i class="icon-user icon-white"></i> Мои клиенты</a>
                    <a href="/myadmin/cold/recalls-today/" class="btn btn-warning{% if '/myadmin/cold/recalls-today/' == request.path %}active disabled{% endif %}"><i class="icon-user icon-white"></i>Перезвоны на сегодня</a>
					<a href="#" class="btn alignright"><i class="icon-off"></i> Выйти</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<h2 class="pull-left">{{ target.name }}</h2>
		<a href="/myadmin/cold/toclient/?target={{ target.id }}" class="pull-right btn btn-info"><i class="icon-flag icon-white"></i> Перевести в клиенты</a>
		<hr class="clr">

		<p>{{ target.city }} {{ target.address }}</p>
		<p>{{ target.site|default_if_none:"" }}</p>
		<p>{{ target.email|default_if_none:"" }}</p>
		{% for phone in target.phone_set.all %}
			<p>{{ phone.phone }}</p>
		{% endfor %}
        <p>{{ target.comment }}</p>
		<hr>
		<form action="" method="post" autocomplete="off" enctype="multipart/form-data" class="">{% csrf_token %}
            <input type=hidden name=target_id value="{{ target.id }}">
            <div class="failur_block">
				<p>Причина отказа:</p>
                {{ form.fail_reason.errors }}
                {% for radio in form.fail_reason %}
                    {{ radio }}
                {% endfor %}
            </div>
			<div class="form-inline recall_block">
                {{ form.callback_at.errors }}
                {{ form.callback_at }}
			</div>
			
			<script type="text/javascript">
				$('.datepicker').datepicker({dateFormat: "dd.mm.yy"});
				$(function(){
					$('.recall_block').find('.datepicker').blur(function(){
						var $this = $(this);
						var send_data = function(){
							var val = $this.val();
							if(val != ''){
								$('#call_comment_text').show();
							}else{
								$('#call_comment_text').hide();
							}
						};
						setTimeout(send_data,300);
					});
				});
			</script>
			<div>
                {{ form.comment }}
			</div>
			<button class="btn btn-success" type="submit" name="ready"><i class="icon-ok icon-white"></i> Готово</button>
		</form>
        <a href="/myadmin/cold/unavailable/{{ target.id }}/" class="btn btn-info"><i class="icon-bell icon-white"></i> Недозвон</a>

	</div>
</body>
</html>
