<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/admin/css/bootstrap.css">
    <link rel="stylesheet" href="/static/admin/css/admin.css">
    <link rel="stylesheet" href="/static/css/chosen.css">
    <link rel="stylesheet" href="/static/admin/css/smoothness/jquery-ui-1.8.20.custom.css">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/form.js"></script>
    <script type="text/javascript">
    	jQuery(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
		    function safeMethod(method) {
		        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		    }
		
		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
		});
    </script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluide header">		
				<div class="pull-right">
					<a href="/myadmin/cold/" class="btn btn-info{% if '/myadmin/cold/' == request.path %}active disabled{% endif %}"><i class="icon-bell icon-white"></i> Холодные звонки</a>
					<a href="/myadmin/clients/" class="btn btn-warning{% if '/myadmin/clients/' == request.path %}active disabled{% endif %}"><i class="icon-user icon-white"></i> Мои клиенты</a>
					<a href="#" class="btn alignright"><i class="icon-off"></i> Выйти</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<h2 class="pull-left">{{ target.name }}</h2>
		<a href="#" class="pull-right btn btn-info"><i class="icon-flag icon-white"></i> Перевести в клиенты</a>
		<hr class="clr">

		<p>{{ target.city }} {{ target.address }}</p>
		<p>{{ target.site }}</p>
		<p>{{ target.email }}</p>
		{% for phone in target.phone_set.all %}
			<p>{{ phone.phone }}</p>
		{% endfor %}
		<hr>
		<form action="" method="post" autocomplete="off" class="">
			<div class="failur_block">
				<p>Причина отказа:</p>
				<label class="radio">
					<input type="radio" name="option" value="1">Уже установлено
				</label>
				<label class="radio">
					<input type="radio" name="option" value="2">Не требуется
				</label>
				<label class="radio">
					<input type="radio" name="option" value="3">Не сообщили
				</label>
				<label class="radio">
					<input type="radio" name="option" value="4">Другое
				</label>
			</div>
			<div class="form-inline recall_block">
				<input class="datepicker" type="text" placeholder="Перезвонить">
			</div>
			
			<script type="text/javascript">
				$('.datepicker').datepicker({dateFormat: "dd.mm.yy"});
			</script>
			
			<div>
				<textarea placeholder="Комментарий" id="call_comment_text" class="input-xxlarge" rows="5"></textarea>
			</div>
			<button class="btn btn-success" type="submit" name="ready"><i class="icon-ok icon-white"></i> Готово</button>
		</form>
			
	</div>
</body>
</html>