<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/admin/css/bootstrap.css">
    <link rel="stylesheet" href="/static/admin/css/admin.css">
    <link rel="stylesheet" href="/static/css/chosen.css">
    <link rel="stylesheet" href="/static/admin/css/smoothness/jquery-ui-1.8.20.custom.css">

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/form.js"></script>
    <script type="text/javascript">
    	jQuery(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
		    function safeMethod(method) {
		        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		    }
		
		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
		});
    </script>
</head>
<body>

	<div class="modal" id="myModal" style="display:none;">
	  <div class="modal-header">
	    <button class="close" data-dismiss="modal">×</button>
	    <h3>Отправка КП</h3>
	  </div>
	  <form autocomplete="off" class="form-horizontal modal-body" id="client_add_form" enctype="multipart/form-data" method="post" action="/myadmin/cold/send-ajx-mail" target="loader">
	  	<fieldset>
				<!--{{ form }}-->
				
				<!---->
				<div class="controls_group">
					<input type="hidden" name="email" value="" id="cold_email_for_send">
					<div class="control-group">
						<label for="id_title" class="control-label">Title:</label>
						<div class="controls">
							<input class="input-xxlarge" id="id_title" type="text" maxlength="200" value="{{ email_template.title }}" name="title">
						</div> 
					</div>
					<div class="control-group">
						<label for="id_body" class="control-label">Body:</label>
						<div class="controls">
							<textarea class="input-xxlarge" id="id_body" name="body" cols="40" rows="10">{{ email_template.body }}</textarea>
						</div>
					</div>
					<h4>Приложенный файл</h4>
					<hr>
					<div class="control-group">
						<label class="control-label">Текущий:</label>
						<div class="controls">
							<p class="help-block"><a href="{{ email_template.attach.url }}">{{ email_template.attach.name|slice:"11:"|truncatechars:13 }}</a></p>
                            <input id="attach" type="hidden" name="attach" value="{{ email_template.attach }}">
                            <input id="target" type="hidden" name="target" value="{{ target.id }}">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="checkbox">
								<input id="attach-clear_id" type="checkbox" name="attach-clear">Не отправлять
							</label>
						</div>
					</div>
				</div>
				<!---->
				
				<div class="form-actions">
				    <button class="btn btn-success" type="submit" name="ready"><i class="icon-ok icon-white"></i> Отправить</button>
				</div>
		    </fieldset>
	  </form>
	</div>
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluide header">		
				<div class="pull-right">
					<a href="/myadmin/cold/" class="btn btn-info {% if 'cold' in request.path %}active disabled{% endif %}"><i class="icon-bell icon-white"></i> Холодные звонки</a>
					<a href="/myadmin/clients/" class="btn btn-warning {% if '/myadmin/clients/' == request.path %}active disabled{% endif %}"><i class="icon-user icon-white"></i> Клиенты</a>
                    {% if is_recalls %}
                    <a href="/myadmin/cold/recalls-today/" class="btn btn-success {% if '/myadmin/cold/recalls-today/' == request.path %}active disabled{% endif %}"><i class="icon-fire icon-white"></i> Перезвоны на сегодня</a>
                    {% endif %}
					<a href="#" class="btn alignright"><i class="icon-off"></i> Выйти</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		
		<div class="row">
			
		
			<div class="span8">
				<h2 class="pull-left">{{ target.name }}</h2> {% if target.callback_at %}Перезвон на {{ target.callback_at }} {% endif %}
				<a href="/myadmin/cold/toclient/?target={{ target.id }}" class="pull-right btn btn-primary"><i class="icon-flag icon-white"></i> Перевести в клиенты</a>
				<hr class="clr">
		
				<p>{{ target.city }} {{ target.address }}</p>
				<p>{{ target.site|default_if_none:"" }}</p>
				<p>
					<form action="/myadmin/cold/edit-ajx-target" method="post" id="cold_email_edit_form" autocomplete="off">
						<input name="cold_email_id" type="hidden" value="{{ target.id }}">
						<input name="cold_email" placeholder="Добавить email" type="email" id="cold_email_input" value='{{ target.email|default_if_none:"" }}'>
						<button type="submit" class="btn btn-info" name="cold_email_btn" id="cold_email_btn" style="display:none;">Сохранить</button>
					</form>
					<script type="text/javascript">
						$(function(){
						
							$('#cold_email_edit_form').ajaxForm({
								 success: function(data) {
							        if (data.error) {
							            alert(error);
							        }
							        else {
							           $cold_email_btn.hide();
							        }
							    }
							});
							
							var $cold_email_input	= $('#cold_email_input');
							var $cold_email_btn		= $('#cold_email_btn');
							var default_data		= $cold_email_input.val();
							
							$cold_email_input.focus(function(){
								$cold_email_btn.show();
							});
							$cold_email_input.blur(function(){
								$cold_email_input.val($.trim($cold_email_input.val()));
								if(default_data == $cold_email_input.val()){
									$cold_email_btn.hide();
								}
							});
							
							var $myModal	= $('#myModal');
							var mail_sent	= false;
							var $cold_client_form	= $('#cold_client_form');
							
							$('#cold_client_form').submit(function(e){
								var value = $('#cold_client_form :radio').fieldValue(); 
								if(value == 'OFFER' && !mail_sent){
									e.preventDefault();
									var email_tosend	= $cold_email_input.val();
									if(email_tosend != ""){
										$('#cold_email_for_send').val(email_tosend);
										$myModal.show();
									}else{
										alert('Необходимо указать Email!');
										$cold_email_input.focus();
									}
								}
							});
							
							$('#client_add_form').ajaxForm({
								 success: function(data) {
							        if (data.error) {
							            alert(error);
							        }
							        else {
							           mail_sent	= true;
							           $cold_client_form.trigger('submit');
							        }
							    }
							});
							
							$myModal.find('.close').click(function(){
								$myModal.fadeOut(200);
							});
							
						});
					</script>
				</p>
				{% for phone in target.phone_set.all %}
					<p>{{ phone.phone }}</p>
				{% endfor %}
		        <p>{{ target.comment|default_if_none:"" }}</p>
				<hr>
				<form id="cold_client_form" action="" method="post" autocomplete="off" enctype="multipart/form-data" class="">{% csrf_token %}
		            <input type=hidden name=target_id value="{{ target.id }}">
		            <div class="failur_block">
						<p>Причина отказа:</p>
		                {{ form.fail_reason.errors }}
		                {% for radio in form.fail_reason %}
		                    {{ radio }}
		                {% endfor %}
		            </div>
					<div class="form-inline recall_block">
		                {{ form.callback_at.errors }}
		                {{ form.callback_at }}
					</div>
					
					<script type="text/javascript">
						$('.datepicker').datepicker({dateFormat: "dd.mm.yy"});
						$(function(){
							$('.recall_block').find('.datepicker').blur(function(){
								var $this = $(this);
								var send_data = function(){
									var val = $this.val();
									if(val != ''){
										$('#call_comment_text').show();
									}else{
										$('#call_comment_text').hide();
									}
								};
								setTimeout(send_data,300);
							});
						});
					</script>
					<div>
		                {{ form.comment }}
					</div>
					<hr class="clr">
					<button class="btn btn-success" type="submit" name="ready"><i class="icon-ok icon-white"></i> Готово</button>
					 <a href="/myadmin/cold/unavailable/{{ target.id }}/" class="btn pull-right btn-danger"><i class="icon-repeat icon-white"></i> Недозвон</a>
				</form>
			</div>
			
			<div class="span4 cold_stat_block">
				<div class="well">
				 	<div>
				 		<h3>Звонков</h3> 
				 		<p>сегодня: <strong>{{ calls_today }}</strong></p>
                    	<p>всего: <strong>{{ all_calls }}</strong></p>
                    </div>
                    <div>
                    	<h3>Переведено в клиенты</h3>
                    	<p>сегодня: <strong>{{ clients_from_calls_today }}</strong></p>
                    	<p>всего: <strong>{{ clients_from_calls }}</strong></p>
                    </div>
                    <div>
                    	<h3>Процент успеха</h3>
                    	<p>сегодня: <strong>{{ succeess_today }}</strong></p>
                    	<p>всего: <strong>{{ succeess }}</strong></p>
                    </div>
                    <div>
                    	<h3>Доведено до конца: {{ profit_clients }}</h3>
                    </div>
            	</div>
			</div>
			
		</div>
	
	</div>
</body>
</html>

