{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
{% category_list request %}
<div id="content_block" class="alignleft clearfix">
<div id="content">
	<div id="Breadcrumbs">
		<a href="/">Главная</a> »&nbsp; Автосервис/Автомойка
	</div>
	
	<div class="office">
		<div class="intro">
			<div class="order n5">
				<h1>Видеонаблюдение в автосервис</h1>
				<a href="#" onclick="return fn_office_showFrom(false)" id="a_order"><img src="{{ STATIC_URL }}res/img/order.gif" alt="Заказать" /></a>
			</div>
			<div class="intro-right">
				<h2>Видеонаблюдение в автосервис/автомойку.</h2>
				<p>
					Система видеонаблюдения в автосервисе/автомойке дает целый ряд возможностей. Ваши клиенты во время ожидания смогут наблюдать за работой сервиса или мойки.<br><br>
					Вы сможете удаленно контролировать ваш бизнес, наблюдать за персоналом.<br>
					Естественно видеонаблюдение предоставит широкие возможности в области безопасности.
				</p>

				<h2>Возможности</h2>
				<p>&bull; Просмотр через интернет с помощью компютера, устройств на базе IOS(IPhone/IPad), Android, Windows Mobile, Symbian.</p>
				<p>&bull; Архив записей.</p>
				<p>&bull; Детектор движения.</p>
				<p>&bull; Поиск по записям через временные отметки и отметки движения.</p>
				<p>&bull; Установка микрофона. Дополнительно к видео можно будет слушать звуки.</p>
				<p>&bull; Наблюдение в полной темноте с помощью инфракрасной подсветки.</p>
			</div>
			<div class="clr"></div>

            <h2>Необходимое оборудование</h2>
            <p><i>Для осуществления видеонаблюдения понадобятся:</i></p>
            <p>&bull; <a href="/section/cam/">Камеры видеонаблюдения</a></p>
            <p>Мы работаем только с проверенными опытом камерами, ознакомиться с которыми можно в нашем каталоге.</p>
            <p>&bull; <a href="/section/reg/">Видеорегистраторы</a></p>
            <p>Устройство куда идет запись с камер. Видеорегистратор выбирается в зависимости от количества камер, 4, 8 или 16 каналов, при необходимости поставить более 16 камер регистраторы объединяются в сеть.</p>
            <p>&bull; <a href="/products/zhestkij-disk-5000-gb-samsung/">Жесткий диск</a></p>
            <p>Вставляется в видеорегистратор для архива записей. Соответственно чем больше объем тем больше по времени хранится архив.</p>
            <p>&bull; <a href="/products/monitor-17-lcd-acer/">Монитор</a></p>
            <p>При необходимости постоянного наблюдения монитор подключается к видеорегистратору.</p>
            <p>&bull; <a href="/delivery">Монтажный комплект</a></p>
            <p>При установке системы видеонаблюдения понадобятся провода и блоки питания.</p>
        </div>

        <center><h2>Типовые комплекты</h2></center>
        <div class="item">
            <div class="left">
                <div class="img_block" style="position:relative">
                    <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                    <a class="item-head" href="#"><img src="/static/res/img/standart_solutions/avto-1.jpg" title="Видеонаблюдение в офис - 2 камеры" alt="Видеонаблюдение в офис - 2 камеры" /></a>
                </div>
                <div class="btn">
                    <form method="post" action="" class="cart">{% csrf_token %}
                        <input type="hidden" name="product_slug" value="Видеонаблюдение в автосервис - 2 камеры" />
                        <input type='image' src='/static/res/img/buy.png' id='product_26_submit_button' class='wpsc_buy_button' name='submit' onclick="return fn_office_showFrom(true,this)" value="Купить" />
                    </form>
                </div>
                <div class="price">16 000,00 руб.</div>
            </div>
            <div class="right">
                <h2>Видеонаблюдение в автосервис - 2 камеры</h2>
                <p>
                    Комплект видеонаблюдения для небольшого автосервиса.<br>
                    Две цветные камеры - одна в помещение, другая наружная на въезд.<br>
                    Конфигурацию можно изменить по вашему желанию.
                </p><br>
                <strong>В комплект входит:</strong><br>
                <p>
                    Цветная камера <a href="/products/germikom-f-250-evolution/">Germikom F-250</a> - 1шт.<br>
                    Цветная камера <a href="/products/germikom-vr-250/">Germikom VR-250</a> - 1шт.<br>
                    Видеорегистратор <a href="/products/rvi-r04la/">RVi-R04LA</a> - 1шт.<br>
                    Блок питания для камер - 1шт.<br>
                </p><br>
                <strong>Дополнительно понадобится:</strong><br>
                <p>
                    Монитор(квадратный) - <a href="/products/monitor-17-lcd-acer/">купить у нас.</a><br>
                    Жесткий диск SATA до 1 Tb, 1шт - <a href="/products/zhestkij-disk-5000-gb-samsung/">купить у нас.</a><br>
                    Монтаж(3000руб - 6000руб) - <a href="/delivery">закажите у нас.</a>
                </p>
            </div>
            <div class="clr"></div>
        </div>

        <div class="item">
            <div class="left">
                <div class="img_block" style="position:relative">
                    <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                    <a class="item-head" href="#"><img src="/static/res/img/standart_solutions/avto-2.jpg" title="Видеонаблюдение в офис - 4 камеры" alt="Видеонаблюдение в офис - 4 камеры" /></a>
                </div>
                <div class="btn">
                    <form method="post" action="" class="cart">{% csrf_token %}
                        <input type="hidden" name="product_slug" value="Видеонаблюдение в автосервис - 4 камеры" />
                        <input type='image' src='/static/res/img/buy.png' id='product_26_submit_button' class='wpsc_buy_button' name='submit' onclick="return fn_office_showFrom(true,this)" value="Купить" />
                    </form>
                </div>
                <div class="price">24 500,00 руб.</div>
            </div>
            <div class="right">
                <h2>Видеонаблюдение в автосервис - 4 камеры</h2>
                <p>
                    Комплект видеонаблюдения для автосервиса.<br>
                    Четыре цветные камеры выдержат попадание воды и высокие/низкие температуры.<br>
                    Конфигурацию можно изменить по вашему желанию.
                </p><br>
                <strong>В комплект входит:</strong><br>
                <p>
                    Цветная камера <a href="/products/germikom-f-250-evolution/">Germikom F-250</a> - 2шт.<br>
                    Цветная камера <a href="/products/germikom-vr-250/">Germikom VR-250</a> - 2шт.<br>
                    Видеорегистратор <a href="/products/rvi-r04la/">RVi-R04LA</a> - 1шт.<br>
                    Блок питания для камер - 2шт.<br>
                </p><br>
                <strong>Дополнительно понадобится:</strong><br>
                <p>
                    Монитор(квадратный) - <a href="/products/monitor-17-lcd-acer/">купить у нас.</a><br>
                    Жесткий диск SATA до 1 Tb, 1шт - <a href="/products/zhestkij-disk-5000-gb-samsung/">купить у нас.</a><br>
                    Монтаж(5000руб - 10000руб) - <a href="/delivery">закажите у нас.</a>
                </p>
            </div>
            <div class="clr"></div>
        </div>
        <div class="item">
            <div class="left">
                <div class="img_block" style="position:relative">
                    <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                    <a class="item-head" href="#"><img src="/static/res/img/standart_solutions/avto-3.jpg" title="Видеонаблюдение в офис - 4 камеры" alt="Видеонаблюдение в офис - 4 камеры" /></a>
                </div>
                <div class="btn">
                    <form method="post" action="" class="cart">{% csrf_token %}
                        <input type="hidden" name="product_slug" value="Видеонаблюдение в автосервис - 8 камеры" />
                        <input type='image' src='/static/res/img/buy.png' id='product_26_submit_button' class='wpsc_buy_button' name='submit' onclick="return fn_office_showFrom(true,this)" value="Купить" />
                    </form>
                </div>
                <div class="price">50 500,00 руб.</div>
            </div>
            <div class="right">
                <h2>Видеонаблюдение в автосервис - 8 камер</h2>
                <p>
                    Комплект видеонаблюдения для большого автосервиса.<br>
                    Восемь цветных всепогодных камер позволят организовать полноценное видеонаблюдение в большом автосервисе.<br>
                    Конфигурацию можно изменить по вашему желанию.
                </p><br>
                <strong>В комплект входит:</strong><br>
                <p>
                    Цветная камера <a href="/products/germikom-f-250-evolution/">Germikom F-250</a> - 2шт.<br>
                    Цветная камера <a href="/products/germikom-vr-250/">Germikom VR-250</a> - 6шт.<br>
                    Видеорегистратор <a href="/products/rvi-r08la/">RVi-R08LA</a> - 1шт.<br>
                    Блок питания для камер - 4шт.<br>
                </p><br>
                <strong>Дополнительно понадобится:</strong><br>
                <p>
                    Монитор(квадратный) - <a href="/products/monitor-17-lcd-acer/">купить у нас.</a><br>
                    Жесткий диск SATA до 1 Tb, 1шт - <a href="/products/zhestkij-disk-5000-gb-samsung/">купить у нас.</a><br>
                    Монтаж(8000руб - 20000руб) - <a href="/delivery">закажите у нас.</a>
                </p>
            </div>
            <div class="clr"></div>
        </div>
<div class="office-form-data" id="office_form">
	<div class="office-form">
		<form method="post" action="" class="wpsc_checkout_forms">
			<br>
			<h2>Пожалуйста, заполните контактную информацию:</h2><br>
			<p>Области, отмеченные звёздочкой, должны быть заполненны.<br><br>
			<table class='wpsc_checkout_table'>
				<tr><th><label for="id_name">Имя*:</label></th><td><ul class="errorlist"><li>Имя обязательно для заполнения</li></ul><input type="text" name="name" id="id_name" /></td></tr>
				<tr><th><label for="id_phone">Телефон*:</label></th>
					<td>
						<ul class="errorlist"><li>Телефон обязателен для заполнения</li></ul><input type="hidden" name="phone" id="id_phone" class="hidden_phone" />
						<div class="phone-inp">
							<div class="phone-inp-click-area" onclick="fn_office_tel_click(this)"></div>
							<input type="text" name="tmp_phone1" class="phone1" maxlength="3" onkeyup="fn_office_tel_keyup(this,1,event)" />
							<input type="text" name="tmp_phone2" class="phone2" maxlength="3" onkeyup="fn_office_tel_keyup(this,2,event)" />
							<input type="text" name="tmp_phone3" class="phone3" maxlength="2" onkeyup="fn_office_tel_keyup(this,3,event)" />
							<input type="text" name="tmp_phone4" class="phone4" maxlength="2" onkeyup="fn_office_tel_keyup(this,4,event)" />
						</div>
					</td>
				</tr>
				<tr><th><label for="id_email">Email:</label></th><td><input type="text" name="email" id="id_email" /></td></tr>
				<tr><th><label for="id_address">Адрес:</label></th><td><textarea id="id_address" rows="2" cols="40" name="address"></textarea></td></tr>
				<tr><th><label for="id_comment">Комментарий:</label></th><td><textarea id="id_comment" rows="2" cols="40" name="comment"></textarea></td></tr>
				<tr><td></td><td align="center">
					<input class="make_purchase" type="submit" value="Сделать заказ" name="Good" alt="сделать заказ" style="background-image: none;" onclick="return fn_office_submit(this)" />
				</td></tr>
			</table>
		</form>
	</div>
</div>
<div class="office-form-data" id="office_form_result">
	<div class="office-form">
		<div class="result-text">
			Cпасибо большое за ваш заказ, в ближайшее время мы с вами свяжемся.
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/office.js"></script>
{% endblock %}