{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
{% category_list request %}
<div id="content_block" class="alignleft clearfix">
<div id="content">
	<div id="Breadcrumbs">
		<a href="/">Главная</a> »&nbsp; Офис
	</div>
	
	<div class="office">
		<div class="intro">
			<div class="order n5">
				<h1>Видеонаблюдение в офис</h1>
				<a href="#"><img src="{{ STATIC_URL }}res/img/order.gif" alt="Заказать" /></a>
			</div>
			
			<h2>Офис</h2>
			<p>
				Видеонаблюдение в офисе дает неоспоримые преимущества для ведения вашего бизнеса. Практически в любом офисе хранятся ценные вещи, исчезновение которых нанесет ущерб вашему делу, невозможно все спрятать в сейф или в банк, учитывая что некоторыми важными вещами постоянно пользуются. Установка видеонаблюдения решает эту проблему, в случае кражи, халатности или просто недоразумения можно быстро выяснить кто что взял и что куда делось.
				<br />Также важным преимуществом видеонаблюдения в офисе является контроль за сотрудниками, даже если у вас стоит система контроля доступа за дверьми (СКУД) довольно часто сотрудники грешат на нее, что система показала неверное время или просто передают карточки своим товарищам чтобы за них отметились, в любом случае всегда можно разрешить спорную ситуацию об опозданиях на работу. 
				<br />Не обязательно ставить камеры прямо на рабочих местах, достаточно установить наблюдение за входом в офис, так сотрудники будут чувствовать себя комфортнее и вы всегда будете знать кто во сколько пришел.
			</p>

            <h2>Возможности</h2>
            <p>&bull; Просмотр через интернет с помощью компютера, устройств на базе IOS(IPhone/IPad), Android, Windows Mobile, Symbian.</p>
            <p>&bull; Архив записей.</p>
            <p>&bull; Детектор движения.</p>
            <p>&bull; Поиск по записям через временные отметки и отметки движения.</p>
            <p>&bull; Установка микрофона. Дополнительно к видео можно будет слушать звуки.</p>
            <p>&bull; Наблюдение в полной темноте с помощью инфракрасной подсветки.</p>

            <h2>Необходимое оборудование</h2>
            <p><i>Для осуществления видеонаблюдения понадобятся:</i></p>
            <p>&bull; <a href="/section/cam/">Камеры видеонаблюдения</a></p>
            <p>Мы работаем только с проверенными опытом камерами, ознакомиться с которыми можно в нашем каталоге.</p>
            <p>&bull; <a href="/section/reg/">Видеорегистраторы</a></p>
            <p>Устройство куда идет запись с камер. Видеорегистратор выбирается в зависимости от количества камер, 4, 8 или 16 каналов, при необходимости поставить более 16 камер регистраторы объединяются в сеть.</p>
            <p>&bull; <a href="/products/zhestkij-disk-5000-gb-samsung/">Жесткий диск</a></p>
            <p>Вставляется в видеорегистратор для архива записей. Соответственно чем больше объем тем больше по времени хранится архив.</p>
            <p>&bull; <a href="/products/monitor-17-lcd-acer/">Монитор</a></p>
            <p>При необходимости постоянного наблюдения монитор подключается к видеорегистратору.</p>
            <p>&bull; <a href="/delivery">Монтажный комплект</a></p>
            <p>При установке системы видеонаблюдения понадобятся провода и блоки питания.</p>

            <div class="clr"></div>
        </div>

        <center><h2>Типовые комплекты</h2></center>
        <div class="item">
            <div class="left">
                <div class="img_block" style="position:relative">
                    <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                    <a class="item-head" href="#"><img src="/static/res/img/standart_solutions/office-ceptum-2.jpg" title="Видеонаблюдение в офис - 2 камеры" alt="Видеонаблюдение в офис - 2 камеры" /></a>
                </div>
                <div class="btn">
                    <form method="post" action="" class="cart">{% csrf_token %}
                        <input type="hidden" name="product_slug" value="Видеонаблюдение в офис - 2 камеры" />
                        <input type='image' src='/static/res/img/buy.png' id='product_26_submit_button' class='wpsc_buy_button' name='submit'  value="Купить" />
                    </form>
                </div>
                <div class="price">15 000,00 руб.</div>
            </div>
            <div class="right">
                <h2>Видеонаблюдение в офис - 2 камеры</h2>
                <p>
                    Комплект видеонаблюдения для небольшого офиса - одно/два помещения.<br>
                    Две цветные камеры и видеорегистратор, простое сочетание, но большие возможности.
                    Конфигурацию можно изменить по вашему желанию.
                </p><br>
                <strong>В комплект входит:</strong><br>
                <p>
                    Цветная камера <a href="/products/ceptum-kn-420/">Ceptum KN-420</a> - 2шт.<br>
                    Видеорегистратор <a href="/products/rvi-r04la/">RVi-R04LA</a> - 1шт.<br>
                    Блок питания для камер - 1шт.<br>
                </p><br>
                <strong>Дополнительно понадобится:</strong><br>
                <p>
                    Монитор(квадратный) - <a href="/products/monitor-17-lcd-acer/">купить у нас.</a><br>
                    Жесткий диск SATA до 1 Tb, 1шт - <a href="/products/zhestkij-disk-5000-gb-samsung/">купить у нас.</a><br>
                    Монтаж(3000руб - 6000руб) - <a href="/delivery">закажите у нас.</a>
                </p>
            </div>
            <div class="clr"></div>
        </div>

        <div class="item">
            <div class="left">
                <div class="img_block" style="position:relative">
                    <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                    <a class="item-head" href="#"><img src="/static/res/img/standart_solutions/office-ceptum-4.jpg" title="Видеонаблюдение в офис - 4 камеры" alt="Видеонаблюдение в офис - 4 камеры" /></a>
                </div>
                <div class="btn">
                    <form method="post" action="" class="cart">{% csrf_token %}
                        <input type="hidden" name="product_slug" value="Видеонаблюдение в офис - 2 камеры" />
                        <input type='image' src='/static/res/img/buy.png' id='product_26_submit_button' class='wpsc_buy_button' name='submit'  value="Купить" />
                    </form>
                </div>
                <div class="price">23 500,00 руб.</div>
            </div>
            <div class="right">
                <h2>Видеонаблюдение в офис - 4 камеры</h2>
                <p>
                    Комплект видеонаблюдения для среднего офиса - два/четыре помещения.<br>
                    Четыре цветные камеры и видеорегистратор, простое сочетание, но большие возможности.
                    Конфигурацию можно изменить по вашему желанию.
                </p><br>
                <strong>В комплект входит:</strong><br>
                <p>
                    Цветная камера <a href="/products/ceptum-kn-420/">Ceptum KN-420</a> - 4шт.<br>
                    Видеорегистратор <a href="/products/rvi-r04la/">RVi-R04LA</a> - 1шт.<br>
                    Блок питания для камер - 2шт.<br>
                </p><br>
                <strong>Дополнительно понадобится:</strong><br>
                <p>
                    Монитор(квадратный) - <a href="/products/monitor-17-lcd-acer/">купить у нас.</a><br>
                    Жесткий диск SATA до 1 Tb, 1шт - <a href="/products/zhestkij-disk-5000-gb-samsung/">купить у нас.</a><br>
                    Монтаж(5000руб - 10000руб) - <a href="/delivery">закажите у нас.</a>
                </p>
            </div>
            <div class="clr"></div>
        </div>
        <div class="item">
            <div class="left">
                <div class="img_block" style="position:relative">
                    <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                    <a class="item-head" href="#"><img src="/static/res/img/standart_solutions/office-ceptum-8.jpg" title="Видеонаблюдение в офис - 4 камеры" alt="Видеонаблюдение в офис - 4 камеры" /></a>
                </div>
                <div class="btn">
                    <form method="post" action="" class="cart">{% csrf_token %}
                        <input type="hidden" name="product_slug" value="Видеонаблюдение в офис - 2 камеры" />
                        <input type='image' src='/static/res/img/buy.png' id='product_26_submit_button' class='wpsc_buy_button' name='submit'  value="Купить" />
                    </form>
                </div>
                <div class="price">36 500,00 руб.</div>
            </div>
            <div class="right">
                <h2>Видеонаблюдение в офис - 8 камер</h2>
                <p>
                    Комплект видеонаблюдения для большого офиса - одно/два помещения.<br>
                    Две цветные камеры и видеорегистратор, простое сочетание, но большие возможности.
                    Конфигурацию можно изменить по вашему желанию.
                </p><br>
                <strong>В комплект входит:</strong><br>
                <p>
                    Цветная камера <a href="/products/ceptum-kn-420/">Ceptum KN-420</a> - 8шт.<br>
                    Видеорегистратор <a href="/products/rvi-r08la/">RVi-R08LA</a> - 1шт.<br>
                    Блок питания для камер - 4шт.<br>
                </p><br>
                <strong>Дополнительно понадобится:</strong><br>
                <p>
                    Монитор(квадратный) - <a href="/products/monitor-17-lcd-acer/">купить у нас.</a><br>
                    Жесткий диск SATA до 1 Tb, 1шт - <a href="/products/zhestkij-disk-5000-gb-samsung/">купить у нас.</a><br>
                    Монтаж(5000руб - 10000руб) - <a href="/delivery">закажите у нас.</a>
                </p>
            </div>
            <div class="clr"></div>
        </div>
{% endblock %}