{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
<div id="page" class="fix">
<h1>Доставка и оплата</h1>
Доставка по <strong>Москве</strong> в пределах МКАД осуществляется <strong>бесплатно курьером в день заказа</strong>.(при заказе от 1000 рублей)<br>
Стоимость доставки в <strong>ближайшее подмосковье</strong> 300 рублей.<br>
<i>Оплата курьеру наличными.</i><br><br>

Доставка <strong>по регионам России</strong> осуществляется <strong>наложенным платежом</strong> курьерской службой "EMS почта России".<br>
К вам приходит курьер EMS и вы <strong>оплачиваете посылку послее ее получения</strong>, либо можете получить посылку на почтовом отделении, там же и оплатить.<br>
Стоимость доставки не больше 500 рублей.<br>
Оплата курьеру наличными, либо на почтовом отделении.<br>
Время доставки зависит от вашего региона. Доставка может идти от 3х и до 14 дней.<br>
</div>
{% endblock %}