{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
{% category_list request %}
<div id="content_block" class="alignleft clearfix">
        <div id="content">
<div id="page" class="fix">
<center><h1>Видеонаблюдение - лучшая гарантия безопасности Вашего дома и бизнеса!</h1></center>
Вы мечтаете об охране, работающей 24 часа в сутки, 7 дней в неделю, без перерывов и выходных?
Охране, которая никогда не покинет свой пост. Охране, которую невозможно подкупить.
Охране, которой Вы можете доверить все самое ценное – Ваш дом, семью или бизнес.<br><br>

Ваши мечты вполне осуществимы. Уже сегодня Вы имеете возможность обзавестись надежным гарантом безопасности за очень скромную цену!<br><br>

Речь идет об установке <strong>систем видеонаблюдения</strong> в Вашем доме, офисе, магазине, которые позволяют:<br><br>
<ul>
     <li>
    Вести <i>наблюдение за определенной территорией</i> и мгновенно передавать картинку на экран монитора.
    </li>
     <li>
    Сохранять <i>запись на жесткий диск</i> для дальнейшего использования. Например, в качестве улик при обнаружении правонарушений.
    </li>
     <li>
    Использовать их в качестве <i>охранной сигнализации</i>. Для этого оборудование дополняется специальными детекторами, которые реагируют на любые движения в зоне видимости камеры.
    </li>
    <li>
    Задействовать сильный <i>психологический момент</i>. Эффект присутствия наблюдения (пусть даже муляжа камеры) способен спугнуть очень многих злоумышленников.
    </li>
</ul><br>
<center><h1>Монтаж</h1></center>
Перед монтажом наш специалист <strong>совершенно бесплатно</strong> прибудет к Вам для составления проекта с указанием необходимого оборудования и конечной стоимости.<br>
Если условия Вас устраивают, Вы делаете заказ.<br>
<center><h1>Оплата.</h1></center>
Оплата осуществляется по безналичному расчету, как для юридических, так и для физических лиц.<br><br>
<center><h1>Доставка.</h1></center>
Доставка по <strong>Москве</strong> в пределах МКАД осуществляется <strong>бесплатно курьером</strong>.(при заказе от 1000 рублей).
Стоимость доставки в <strong>ближайшее подмосковье</strong> 300 рублей.<br><br>

Доставка <strong>по регионам России</strong> осуществляется курьерской службой "EMS почта России". Стоимость доставки не больше 500 рублей.<br>
Время доставки зависит от вашего региона. Доставка может идти от 3х и до 14 дней.<br>
</div>
{% endblock %}