{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
<div id="page" class="fix">
<h1>Оплата, монтаж и доставка</h1>
<h2>Оплата.</h2>
Оплата осуществляется по безналичному расчету, как для юридических, так и для физических лиц.<br><br>
<h2>Монтаж</h2>
При заказе монтажа к вам выезжает <strong>бесплатно</strong> наш специалист для составления сметы.<br>
Вы получите стоимость монтажа, после чего сможете решить заказывать монтаж или нет.<br><br>
<h2>Доставка.</h2>
Доставка по <strong>Москве</strong> в пределах МКАД осуществляется <strong>бесплатно курьером</strong>.(при заказе от 1000 рублей)<br>
Стоимость доставки в <strong>ближайшее подмосковье</strong> 300 рублей.<br><br>

Доставка <strong>по регионам России</strong> осуществляется курьерской службой "EMS почта России".<br>
Стоимость доставки не больше 500 рублей.<br>
Время доставки зависит от вашего региона. Доставка может идти от 3х и до 14 дней.<br>
</div>
{% endblock %}