{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}

		<h1 id="page_title">Каталог товара</h1>
		<div id="items" class="clearfix">
			{% for section in sections %}
	            {% if not section.category_set.all.0.name == section.name %}
				<div class="item">
					<div class="img_block" style="background-image: url({{ section.image.thumb_url }})">
						<i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
						<a href="{{ section.get_absolute_url }}"></a>
					</div>
				    <a href="{{ section.get_absolute_url }}">{{ section.name }}</a>
				</div>
	            {% else %}
	            <div class="item">
					<div class="img_block" style="background-image: url({{ section.image.thumb_url }})">
						<i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
						<a href="{{ section.category_set.all.0.get_absolute_url  }}"></a>
					</div>
				    <a href="{{ section.category_set.all.0.get_absolute_url }}">{{ section.name }}</a>
				</div>
	            {% endif %}
			{% endfor %}
		</div>
		<div id="cont_discr" class="clearfix">
		<div id="sub_verticalline">
			<div><div></div></div>
		</div>
        Позвоните или напишите нам и мы поможем определиться с выбором системы видеонаблюдения.<br>
        Наш специалист совершенно бесплатно составит проект на установку видеонаблюдения в вашем доме, офисе, даче, любом другом месте.<br><br>
        В результате мы соориентируем вас по цене и техническим деталям, и вы сможете с легкостью принять решение.<br>
        Мы выполним монтаж любой сложности, а наши цены вас приятно удивят.<br>
<!--			Заботитесь о своей безопасности? Интересует шпионская техника и другие подобные устройства? Тогда вы попали по адресу.<br><br>
	
			Наш магазин предлагает широкий выбор самых разнообразных шпионских примочек, которые будут незаменимы для тех, кто знает, как ими пользоваться. А также для тех, кто только собирается познать все тонкости обращения со шпионской техникой. Таким образом, шпионские штучки купить теперь проще простого. Необходимо лишь оформить заказ в нашем магазине.<br><br>
			
			Здесь вы можете купить прослушивающее устройство, системы скрытого наблюдения и много других полезных вещей. Большой ассортимент товара позволит выбрать наиболее оптимальный и подходящий конкретно для вашей ситуации товар. И совершенно не важно, нужна ли вам такая техника для работы или для личных целей. В любом случае вам будет предложен качественный товар, который успел оценить уже не один покупатель.<br><br>
			
			К нам постоянно приходят покупатели по таким запросам, как шпионская техника или шпионское оборудование продажа, а это означает, что на качество наших товаров можно положиться.<br><br>
			
			Вы все еще медлите и раздумываете, можно ли сэкономить на собственной безопасности? Не стоит. Ведь пока вы это делаете, кто-то другой уже может приобретать у нас товар.<br><br>
-->
		</div>
{% endblock %}
