{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
<div id="content_block" class="alignleft clearfix" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
        <div id="content">
		<div id="cont_discr" class="clearfix">
            <p>Мы рады приветствовать Вас на  сайте! Благодарим за проявленный интерес к нашей Компании и предлагаемым решениям!</p><br>
            <p>В нашей деятельности мы не занимаемся обычной продажей оборудования систем безопасности или оказанием услуг
                по его установки - мы предоставляем <strong>Решения</strong> в области технических средств безопасности. Каждый Заказчик
                нашей Компании может быть уверен, что обратившись к нам он получит решение, максимально отвечающее его требованиям
                и желаемому бюджету!
            </p><br>

            <p>Комплексный подход, богатый опыт, использование передовых технологий и новейших технических средств предлагаемых
                нашей Компанией  являются эффективным способом обеспечения безопасности.
            </p><br>

            <p>
                Мы верим в то, что можно делать бизнес честно, не обманывать на завышенных сметах, продаже ненужного оборудования,
                «виртуального» программного обеспечения. Мы не выставляем огромные цены за монтаж прикрываясь сложностью настройки
                оборудования.<br>
                <strong>Наше   преимущество - честность!</strong>
                Покажите нам смету, составленную вам другой компанией и в большинстве случаев мы сделаем вам более выгодное
                предложение!
            </p><br>

            <p>Нашим Заказчикам мы готовы предложить качественные решения в области:</p>
            <ol>
                <li><strong>Профессиональных систем видеонаблюдения</strong> — от небольших «аналоговых»
                    решений, позволяющих осуществлять контроль за домом, офисом или магазином до «цифровых»
                    многоуровневых территориально распределенные комплексов безопасности.
                </li>
                <li><strong>Интеллектуальных систем</strong> - контроль кассовых операций, распознавание автомобильных номеров,
                    распознавание номеров вагонов и др.
                </li>
                <li><strong>Систем контроля и управления доступом</strong> — от классического домофона до Систем контроля и
                    управления доступом крупных, территориально - разнесенных предприятий.
                </li>
                <li><strong>Профессиональные интеллектуальные комплексы</strong>, позволяющие объединить все вышеперечисленные
                    системы в единый Комплекс.
                </li>
            </ol><br>
            <p>
                Мы не только поможем подобрать необходимое оборудование, но и произведем его  установку и настройку.
                С перечнем и стоимостью работ вы сможете ознакомиться в разделе <a href="/install">«Услуги по установке»</a>.
            </p><br>
            <p>
                Помимо гарантии на поставляемое оборудование мы оказываем Услуги по послегарантийному сопровождению
                Систем безопасности (как на поставляемые нами решения, так и на оборудование Систем безопасности,
                установленное сторонними компаниями).
            </p><br>
            <p>
                <strong>
                    Мы  проведем  предпроектное обследование, проконсультируем и предложим Вам решение,
                    наиболее подходящее под Ваши Задачи и Требования.
                </strong>
            </p>
            <br>
            <hr>
            <div class="partners_logos"></div>
        </div>
        </div>
{% endblock %}
