{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}

{% category_list request %} 
<div id="content" class="alignleft clearfix">
	<div id="Breadcrumbs">
	</div>
	<h1 id="page_title">Охранные системы</h1>
	<div id="items">
		{% for cat in cats %}
			<div class="item">
				<div class="img_block" style="background-image: url({{ cat.image.thumb_url }})">
					<i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
					<a href="{{ cat.get_absolute_url }}"></a>
				</div>
			    <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>	  
			</div>
		{% endfor %}
	</div>
	<div id="cont_discr">
	</div>
</div>
{% endblock %}
