{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
{% category_list request %}
<div id="content_block" class="alignleft clearfix">
<div id="content">
	<div id="Breadcrumbs">
		<a href="/">Главная</a> »&nbsp; Офис
	</div>
	
	<div class="office">
		<div class="intro">
			<div class="order n4">
				<h1>Видеонаблюдение в офис</h1>
				<a href="#"><img src="{{ STATIC_URL }}res/img/order.gif" alt="Заказать" /></a>
			</div>
			
			<h2>Офис</h2>
			<p>
				Видеонаблюдение в офисе дает неоспоримые преимущества для ведения вашего бизнеса. Практически в любом офисе хранятся ценные вещи, исчезновение которых нанесет ущерб вашему делу, невозможно все спрятать в сейф или в банк, учитывая что некоторыми важными вещами постоянно пользуются. Установка видеонаблюдения решает эту проблему, в случае кражи, халатности или просто недоразумения можно быстро выяснить кто что взял и что куда делось.
				<br />Также важным преимуществом видеонаблюдения в офисе является контроль за сотрудниками, даже если у вас стоит система контроля доступа за дверьми (СКУД) довольно часто сотрудники грешат на нее, что система показала неверное время или просто передают карточки своим товарищам чтобы за них отметились, в любом случае всегда можно разрешить спорную ситуацию об опозданиях на работу. 
				<br />Не обязательно ставить камеры прямо на рабочих местах, достаточно установить наблюдение за входом в офис, так сотрудники будут чувствовать себя комфортнее и вы всегда будете знать кто во сколько пришел.
			</p>
			
			<h2>Возможности</h2>
			<p>Мы верим в то, что можно делать бизнес честно, не обманывать на завышенных сметах, продаже ненужного оборудования, несуществующего программного обеспечения, и мы не выставляем огромные цены за монтаж прикрываясь сложностью настройки оборудования.</p>
			<p>К сожалению на рынке видеонаблюдения постоянно обманывают клиентов, наше конкурентное преимущество - честность!</p>
			<p>Покажите нам смету составленную вам другой компанией и в 99 случаев из 100 у нас будет на много дешевле.</p>
			
			<h2>Необходимое оборудование</h2>
			<p><a href="#">Камеры видеонаблюдения</a></p>
			<p>У нас имеются, как готовые комплекты оборудования, так и отдельные компоненты: камеры, видеорегистраторы, муляжи камер и различные комплектующие.</p>
			<p><a href="#">Видеорегистраторы</a></p>
			<p>Наши специалисты установят и настроят все необходимое оборудование в самые кратчайшие сроки. Перед монтажом специалист прибудет к Вам для составления проекта с указанием необходимого оборудования и конечной стоимости.</p>
			<p><a href="#">Домофоны</a></p>
			<p>Монтаж видеонаблюдения и установка видеонаблюдения - наш профиль!</p>
			<p><a href="#">Камеры видеонаблюдения</a></p>
			<p>У нас имеются, как готовые комплекты оборудования, так и отдельные компоненты: камеры, видеорегистраторы, муляжи камер и различные комплектующие.</p>
			<p><a href="#">Видеорегистраторы</a></p>
			<p>Наши специалисты установят и настроят все необходимое оборудование в самые кратчайшие сроки. Перед монтажом специалист прибудет к Вам для составления проекта с указанием необходимого оборудования и конечной стоимости.</p>
			
			<div class="clr"></div>
		</div>
		
		<div class="item">
			<div class="left">
				<div class="img_block" style="position:relative">
					<i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
					<a class="item-head" href="#"><img src="/media/products_image/videocamers/indoor_analog/germikom-vrx350_medium.png" title="Germikom VRX-350" alt="Germikom VRX-350" /></a>
				</div>
				<div class="btn">
					<form method="post" action="" class="cart">
						<div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='09d9b6742a7ac26b655b47e7d8529f03' /></div>
						<input type="hidden" name="product_slug" value="germikom-vrx-350" id="142" />
						<input type='image' src='/static/res/img/buy.png' id='product_26_submit_button' class='wpsc_buy_button' name='submit'  value="Купить" />
					</form>
				</div>
				<div class="price">8000,00 руб.</div>
			</div>
			<div class="right">
				<h2>Типовые решения №1</h2>
				<p>Мы верим в то, что можно делать бизнес честно, не обманывать на завышенных сметах, продаже ненужного оборудования, несуществующего программного обеспечения, и мы не выставляем огромные цены за монтаж прикрываясь сложностью настройки оборудования.</p>
				<p>К сожалению на рынке видеонаблюдения постоянно обманывают клиентов, наше конкурентное преимущество - честность!</p>
				<p>Покажите нам смету составленную вам другой компанией и в 99 случаев из 100 у нас будет на много дешевле.</p>
				<p><a href="#">Камеры видеонаблюдения</a></p>
				<p>У нас имеются, как готовые комплекты оборудования, так и отдельные компоненты: камеры, видеорегистраторы, муляжи камер и различные комплектующие.</p>
				<p><a href="#">Видеорегистраторы</a></p>
				<p>Наши специалисты установят и настроят все необходимое оборудование в самые кратчайшие сроки. Перед монтажом специалист прибудет к Вам для составления проекта с указанием необходимого оборудования и конечной стоимости.</p>
			</div>
			<div class="clr"></div>
		</div>
		
		<div class="item">
			<div class="left">
				<div class="img_block" style="position:relative">
					<i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
					<a class="item-head" href="#"><img src="/media/products_image/videocamers/indoor_analog/germikom-vrx350_medium.png" title="Germikom VRX-350" alt="Germikom VRX-350" /></a>
				</div>
				<div class="btn">
					<form method="post" action="" class="cart">
						<div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='09d9b6742a7ac26b655b47e7d8529f03' /></div>
						<input type="hidden" name="product_slug" value="germikom-vrx-350" id="142" />
						<input type='image' src='/static/res/img/buy.png' id='product_26_submit_button' class='wpsc_buy_button' name='submit'  value="Купить" />
					</form>
				</div>
				<div class="price">8000,00 руб.</div>
			</div>
			<div class="right">
				<h2>Типовые решения №2</h2>
				<p>Мы верим в то, что можно делать бизнес честно, не обманывать на завышенных сметах, продаже ненужного оборудования, несуществующего программного обеспечения, и мы не выставляем огромные цены за монтаж прикрываясь сложностью настройки оборудования.</p>
				<p>К сожалению на рынке видеонаблюдения постоянно обманывают клиентов, наше конкурентное преимущество - честность!</p>
				<p>Покажите нам смету составленную вам другой компанией и в 99 случаев из 100 у нас будет на много дешевле.</p>
				<p><a href="#">Камеры видеонаблюдения</a></p>
				<p>У нас имеются, как готовые комплекты оборудования, так и отдельные компоненты: камеры, видеорегистраторы, муляжи камер и различные комплектующие.</p>
				<p><a href="#">Видеорегистраторы</a></p>
				<p>Наши специалисты установят и настроят все необходимое оборудование в самые кратчайшие сроки. Перед монтажом специалист прибудет к Вам для составления проекта с указанием необходимого оборудования и конечной стоимости.</p>
			</div>
			<div class="clr"></div>
		</div>
		
		<div class="item">
			<div class="left">
				<div class="img_block" style="position:relative">
					<i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
					<a class="item-head" href="#"><img src="/media/products_image/videocamers/outdoor_analog/ct820c1.jpg" title="Germikom VRX-350" alt="Germikom VRX-350" /></a>
				</div>
				<div class="btn">
					<form method="post" action="" class="cart">
						<div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='09d9b6742a7ac26b655b47e7d8529f03' /></div>
						<input type="hidden" name="product_slug" value="germikom-vrx-350" id="142" />
						<input type='image' src='/static/res/img/buy.png' id='product_26_submit_button' class='wpsc_buy_button' name='submit'  value="Купить" />
					</form>
				</div>
				<div class="price">8000,00 руб.</div>
			</div>
			<div class="right">
				<h2>Типовые решения №3</h2>
				<p>Мы верим в то, что можно делать бизнес честно, не обманывать на завышенных сметах, продаже ненужного оборудования, несуществующего программного обеспечения, и мы не выставляем огромные цены за монтаж прикрываясь сложностью настройки оборудования.</p>
				<p>К сожалению на рынке видеонаблюдения постоянно обманывают клиентов, наше конкурентное преимущество - честность!</p>
				<p>Покажите нам смету составленную вам другой компанией и в 99 случаев из 100 у нас будет на много дешевле.</p>
				<p><a href="#">Камеры видеонаблюдения</a></p>
				<p>У нас имеются, как готовые комплекты оборудования, так и отдельные компоненты: камеры, видеорегистраторы, муляжи камер и различные комплектующие.</p>
				<p><a href="#">Видеорегистраторы</a></p>
				<p>Наши специалисты установят и настроят все необходимое оборудование в самые кратчайшие сроки. Перед монтажом специалист прибудет к Вам для составления проекта с указанием необходимого оборудования и конечной стоимости.</p>
				<p>Мы верим в то, что можно делать бизнес честно, не обманывать на завышенных сметах, продаже ненужного оборудования, несуществующего программного обеспечения, и мы не выставляем огромные цены за монтаж прикрываясь сложностью настройки оборудования.</p>
				<p>К сожалению на рынке видеонаблюдения постоянно обманывают клиентов, наше конкурентное преимущество - честность!</p>
				<p>Покажите нам смету составленную вам другой компанией и в 99 случаев из 100 у нас будет на много дешевле.</p>
				<p><a href="#">Камеры видеонаблюдения</a></p>
				<p>У нас имеются, как готовые комплекты оборудования, так и отдельные компоненты: камеры, видеорегистраторы, муляжи камер и различные комплектующие.</p>
				<p><a href="#">Видеорегистраторы</a></p>
				<p>Наши специалисты установят и настроят все необходимое оборудование в самые кратчайшие сроки. Перед монтажом специалист прибудет к Вам для составления проекта с указанием необходимого оборудования и конечной стоимости.</p>
				<p>Мы верим в то, что можно делать бизнес честно, не обманывать на завышенных сметах, продаже ненужного оборудования, несуществующего программного обеспечения, и мы не выставляем огромные цены за монтаж прикрываясь сложностью настройки оборудования.</p>
			</div>
			<div class="clr"></div>
		</div>
		
	</div>
	
{% endblock %}