{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}

{% category_list request %}
<div id="content_block" class="alignleft clearfix">
	<div id="content">
		<div id="Breadcrumbs">
			<a href="#">Каталог товара</a> &gt;&gt; Охранные системы
		</div>
		<h1 id="page_title">Охранные системы</h1>
		<div id="items" class="clearfix">
			{% for cat in cats %}
                {{ cat.name }} {{ cat.get_absolute_url }} {{ cat.image.url }}
			{% endfor %}
		</div>
		<div id="cont_discr" class="clearfix">
            {{ section.SEO_text }}
		</div>
	</div>
</div>
{% endblock %}
