{% extends "base.html" %}
{% block site_wrapper %}
    <div id="content_block" class="alignleft clearfix">
    <div id="content">
    <div id="page" class="fix">

    <center><h1>Обслуживание систем видеонаблюдения</h1></center>
        <p>
            Технические средства безопасности должны функционировать не только качественно, но и стабильно – и это аксиома.<br>
            Именно поэтому, как и любые  технически-сложные системы, система технической безопасности  нуждается в профилактике  и обслуживании для получения максимального эффекта от установленных  компонентов.
        </p><br>
        <p>
        Наша компания предоставляет услуги по гарантийному и послегарантийному обслуживанию систем безопасности  установленных как нашей компанией, так и сторонними монтажными организациями.
        Все работы выполняются согласно регламенту на основании заключаемого договора.
        </p><br>
        <a href="{{ STATIC_URL }}res/Прайс на обслуживание.xls">Скачать прайс на обслуживание</a>

{% endblock %}