{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
	<div id="Breadcrumbs">
            <a href="/cats">Главная</a> »&nbsp;
            {% if product.category.all.0.section.slug == product.category.all.0.slug %}
                <a href="/cats/{{ product.category.all.0.section.slug }}">{{ product.category.all.0.section }}</a> »&nbsp;
            {% else %}
                <a href="/section/{{ product.category.all.0.section.slug }}">{{ product.category.all.0.section }}</a> »&nbsp;
                <a href="/cats/{{ product.category.all.0.slug }}">{{ product.category.all.0 }}</a> »&nbsp;
            {% endif %}
            {{ product }}
	</div>
	<h1 id="page_title">{{ page_title }}</h1>
	<div id="tovar">
		<div class="top">
			<div class="left">
				<div class="img_block" style="width:90%; position:relative">
						<i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>

				
				{% if product.productphoto_set.all.0.image.url %}
                                            <img class="main_img_tov" class="marketfull_image" src="{{ product.productphoto_set.all.0.image.url }}" alt="{{ page_title }}" style="width:90%; margin:5%"/>
                        	{% else %}
                                                Фото товара отсутствует
                        {% endif %}  
                 </div>     
                  {% if product.productphoto_set.all %}                     
					{% for item in product.productphoto_set.all %}
						<img class="prew_img_tov" src="{{ item.image.url }}" title="{{ page_title }}" alt="{{ page_title }}" width="50px" style="display:inline-block; margin:10px;"/>
					{% endfor %}
				 {% endif %}
				<p class="price">
					<strong>{{ product.price }}</strong> руб.
				</p>
				{% if not product.in_stock %}
                                        <p><strong><em><span style="color: #ff0000">К сожалению данная модель закончилась, но вы можете сделать предзаказ по телефону.</span></em></strong></p>
                    {% else %}              
				 <form method="post" action="" class="cart"> {% csrf_token %}
      											<input type="hidden" name="product_slug" value="{{ product.slug }}" id="{{ product.id }}" />
      											<input type='image' src='{{ STATIC_URL }}res/img/buy.png' id='product_26_submit_button' class='wpsc_buy_button' name='submit'  value="Купить" />
  				 </form>
  				 {% endif %}
			</div>
			<div class="right">
				{{ product.html_description|safe }}<br><br>
				{{ product.mini_html_description|safe }}
			</div>
			
		</div>
		<div class="bottom">			   

                                                    
									
		<h3>Технические характеристики:</h3>
        {{ product.tech_details|safe }}
                                                          
		</div>
	</div>														
{% endblock %}
