{% extends "base.html" %}
{% block site_wrapper %}

<script type="text/javascript">
	
	var moveto_step	= function(current_index){
	
		$('#calc_block').find('.progressbar').find('li').eq(current_index+1).addClass('current').prev().addClass('success').removeClass('current');
				
		var	step_width	= $('#calc_steps_form').width()	
		
		var left_slide	= -$('.calc_step').width()*(current_index+1);

		$('#calc_steps_form').animate( { marginLeft : left_slide+'px' } );
		
	};
	
	var next_step	= function(event){
		
		if($(event).parent().hasClass('ready')){
		
			var current_index	= $(event).parent().index();
			
			if(current_index >= 2){
				
				var	data_send	= $('#calc_steps_form').formSerialize(); 
				var url			= 'ajx-api';
				
				$.ajax({
					type:	"POST",
					url:	url,
					data:	data_send,
					success:	function(responce){
					
						moveto_step(current_index);
						
					}
				});
			
			}else{
			
				moveto_step(current_index);
				
			}
			
		}
	};
	
	var prev_step	= function(event){
		
		var current_index	= $(event).parent().index();
				
		$('#calc_block').find('.progressbar').find('li').eq(current_index-1).addClass('current').next().removeClass('current');
		
		var	step_width	= $('#calc_steps_form').width()	
		
		var left_slide	= -$('.calc_step').width()*(current_index-1);

		$('#calc_steps_form').animate( { marginLeft : left_slide+'px' } );
	};
	
	var goto_step	= function(event){
		
		var current_index	= $(event).index();
		
		if($(event).hasClass('success')){
			
			$('#calc_block').find('.progressbar').find('.current').removeClass('current');
			
			$(event).addClass('current');
			
			var	step_width	= $('#calc_steps_form').width()	
		
			var left_slide	= -$('.calc_step').width()*(current_index);
	
			$('#calc_steps_form').animate( { marginLeft : left_slide+'px' } );
			
		}
		
	}
	
	$(function(){
		
		$('#calc_block').find('.calc_step').find('input[type="radio"]').live('change',function(){
			
			$(this).parents('.calc_step').addClass('ready');
			
		});
		
	});

</script>

<div id="content_block">
	<div id="content">
	
		<section id="calc_block">
			<nav class="">
				<ul class="progressbar clearfix">
					<li class="current" onclick="goto_step(this); return false;"><span class="num">1</span>IP/Аналог</li>
					<li onclick="goto_step(this); return false;"><span class="num">2</span>Тип системы</li>
			        <li onclick="goto_step(this); return false;"><span class="num">3</span>Камеры/Регистратор</li>
			        <li onclick="goto_step(this); return false;"><span class="num">4</span>Монтаж</li>
			        <li onclick="goto_step(this); return false;"><span class="num">5</span>Результат</li>
				</ul>
			</nav>
			<form id="calc_steps_form" action="" method="post" class="clearfix" autocomplete="off">
				<article id="calc_step_1" class="calc_step clearfix">
					<hr>
					<h2>Тип камеры</h2>
					<p><label><input type="radio" name="type" value="1"> IP</label></p>
					<p><label><input type="radio" name="type" value="2"> Аналог</label></p>
					<hr>
					<button class="alignright" onclick="next_step(this); return false;">Дальше</button>
				</article>
				<article id="calc_step_2" class="calc_step clearfix">
					<hr>
					<h2>Класс системы</h2>
					<p><label><input type="radio" name="class" value="1"> Бюджетное решение</label></p>
					<p><label><input type="radio" name="class" value="2"> Система среднего уровня</label></p>
					<p><label><input type="radio" name="class" value="3"> Профессиональные системы</label></p>
					<hr>
					<button class="alignleft" onclick="prev_step(this); return false;">Назад</button>
					<button class="alignright" onclick="next_step(this); return false;">Дальше</button>
				</article>
				<article id="calc_step_3" class="calc_step clearfix">
					<hr>
					<h2>Внешние/внутренние</h2>
					<p><label><input type="radio" name="in_out" value="1"> Внешние</label></p>
					<p><label><input type="radio" name="in_out" value="2"> Внутренние</label></p>
					<hr>
					<button class="alignleft" onclick="prev_step(this); return false;">Назад</button>
					<button class="alignright" onclick="next_step(this); return false;">Дальше</button>
				</article>
				<article id="calc_step_4" class="calc_step clearfix">
					<hr>
					<h2>Разрешение</h2>
					<p><label><input type="radio" name="in_out" value="1"> Внешние</label></p>
					<p><label><input type="radio" name="in_out" value="2"> Внутренние</label></p>
					<hr>
					<button class="alignleft" onclick="prev_step(this); return false;">Назад</button>
					<button class="alignright" onclick="next_step(this); return false;">Дальше</button>
				</article>
			</form>
		</section>
	
	</div>
</div>

<hr/>
<div class="content">
    <div class="menu">
        <a href="">IP/Аналог</a><br>
        <a href="">Тип системы</a><br>
        <a href="">Камеры/Регистратор</a><br>
        <a href="">Монтаж</a><br>
        <a href="">Результат</a><br>
    </div>
</div>
    <div class='first-step'><b>Выберите IP или Аналог:</b><Br>
        <input type="radio" name="standart" value="ip"> IP<Br>
        <input type="radio" name="standart" value="analog"> Analog<Br>
    <a href="#" id="next1">Далее</a>
    </div>
    <div class='second-step hide'><b>Выберите тип системы:</b><Br>
        <input type="radio" name="type" value="cheap">Бюджетное решение<Br>
        <input type="radio" name="type" value="middle">Системы среднего уровня<Br>
        <input type="radio" name="type" value="pro">Профессиональная система<Br>
    <a href="#" id="next2">Далее</a>
    </div>
    <div class='third-step hide'><b>Выберите камеры:</b><Br>
        Срок хранения архива
        <input type="radio" name="archive" value="cheap">До 2х недель<Br>
        <input type="radio" name="archive" value="midle">До 4х недель<Br>
        <div class="ip-cheap">
            Тип
            <select>
                <option>Внешняя</option>
                <option>Внутренняя</option>
            </select>
            <span class='resolition'>Разрешение</span>
            Количество
            <input type="text" name="count">
        </div>
        <a href="#" id="add">Добавить камеру</a>
        <a href="#" id="next3">Далее</a>
    </div>

{% endblock %}