{% extends "base.html" %}
{% block site_wrapper %}

<script type="text/javascript">
	
	var current_type, current_class;
	
	var moveto_step	= function(current_index){
	
        $('.progressbar').find('.current').find('.chose')
        .text($('#calc_step_' + $('.current').find('.num').text()).find('input[type="radio"]:checked').parent().find('.title').text());

		$('#calc_block').find('.progressbar').find('li').eq(current_index+1).addClass('current').prev().addClass('success').removeClass('current');
				
		var	step_width	= $('#calc_steps_form').width();
		
		var left_slide	= -100*(current_index+1);

		$('#calc_steps_form').animate( { marginLeft : left_slide+'%' } );
		
	};
	
	var next_step	= function(event){
		
		if($(event).parent().hasClass('ready')){
		
			var current_index	= $(event).parent().index();
			
			moveto_step(current_index);	
			
		}
	};
	
	var prev_step	= function(event){
		
		var current_index	= $(event).parent().index();
				
		$('#calc_block').find('.progressbar').find('li').eq(current_index-1).addClass('current').next().removeClass('current');
		
		var	step_width	= $('#calc_steps_form').width()	
		
		var left_slide	= -100*(current_index-1);

		$('#calc_steps_form').animate( { marginLeft : left_slide+'%' } );
	};
	
	var goto_step	= function(event){
		
		var current_index	= $(event).index();
		
		if($(event).hasClass('success')){
			
			$('#calc_block').find('.progressbar').find('.current').removeClass('current');
			
			$(event).addClass('current');
			
			var	step_width	= $('#calc_steps_form').width()	
		
			var left_slide	= -$('.calc_step').width()*(current_index);
	
			$('#calc_steps_form').animate( { marginLeft : left_slide+'px' } );
			
		}
		
	};
	
	var get_result	= function(){
		
		var url	= '#';
		
		var	data_send	= $('#calc_steps_form').formSerialize();
		
		$.ajax({
			type:	"POST",
			url:	url,
			data:	data_send,
			complete:	function(response){
			
				var resp = jQuery.parseJSON(response.responseText);
				
			},
			error: function(){
				console.log('smthng wrong! =(')
			}
		});
		
		
	};
	
	$(function(){
		
		//$('#calc_steps_form').clearForm();
		
		$('#calc_block').find('.btn_next, .btn_send').attr('disabled','disabled');
		
		$('#calc_block').find('.calc_step').find('input[type="radio"]').live('change',function(){
			
			$(this).parents('.calc_step').addClass('ready').find('.btn_next').removeAttr('disabled');
			
		});
		
		$('#calc_step_1').find('input[type="radio"]').live('change',function(){
			
			current_type	=	$(this).val();
			
			
			$(this).parents('label').addClass('current').siblings().removeClass('current');
			
			if( current_type === 'IP' ){
				$('#cams_select_table').find('.color_block').hide();
			}else{
				$('#cams_select_table').find('.color_block').show();
			}
			
		});
		
		$('#calc_step_2').find('input[type="radio"]').live('change',function(){
			$(this).parents('label').addClass('current').siblings().removeClass('current');
			current_class	=	$(this).val();
			
		});
		
		$('#calc_step_3').find('.btn_prev').click(function(){
			$('#cams_select_table').find('tbody').find('tr').not('.first_row').remove()
			$('#calc_step_3').find('.btn_send').attr('disabled','disabled');
			$('#cams_select_table').find('.first_row').removeAttr('compleeted').find('.info_block').children().hide().end().end()
			.find('select').find('option').removeAttr('selected').end().each(function(){
				$(this).find('option').eq(0).attr('selected','selected');
			});
			$('#add_cam_link').hide();
		});
		
		$('.archive_item').find('input').live('change',function(){
			$(this).parents('label').addClass('current').siblings().removeClass('current');
		});
				
		var current_location;
		
		$('.location_select').live('change', function(){
		
			var $this	= $(this);
			
			if(current_type === 'IP'){
				
				$this.parent().parent().parent().find('.info_block').children().hide();
				
				$this.parent().parent().next().children().hide().end().next().addClass('onload');
						
				var	data_send	= {'type': current_type, 'class': current_class, 'location': $this.val(), 'color': 2};
				var url			= 'ajx-api';
				
				$.ajax({
					type:	"POST",
					url:	url,
					data:	data_send,
					complete:	function(response){
					
						var resp = jQuery.parseJSON(response.responseText);
						
						var resolutions = resp.resolution.split(',');
						
						var selects	= '';
						
						$.each(resolutions,function(i, val){
							selects	+= '<option value="'+val+'">'+val+'</option>';
						});
						
						$this.parent().parent().next().next().removeClass('onload').html('<div class="field"><select class="resolution_select" name="resolution[]"><option disabled="disabled" selected="selected">Выберите разрешение</option>'+selects+'</select></div>');
						
					}
				});
				
			}else{
				
				$this.parent().parent().parent().find('.info_block').children().hide().end().end().end().next().children()
				.replaceWith('<div class="field"><select class="color_select" name="color[]" selected="selected"><option disabled="disabled" selected="selected">Выберите цвет</option><option value="1">Цветная</option><option value="2">Черно-белая</option></select></div>');
				
				$('#add_cam_link').hide();
				
			}
		});	
		
		$('.color_select').live('change', function(){
			var $this	= $(this);
			
			$this.parent().parent().next().addClass('onload');
			$this.parent().parent().siblings('.info_block').children().hide();
			
			var	data_send	= {type: current_type, class: current_class, location: $this.parent().parent().prev().find('.location_select').val(), color: $this.val()};
			
			var url			= 'ajx-api';
			
			$.ajax({
				type:	"POST",
				url:	url,
				data:	data_send,
				complete:	function(response){
					
					var resp = jQuery.parseJSON(response.responseText);
						
					var resolutions = resp.resolution.split(',');
					
					var selects	= '';
					
					$.each(resolutions,function(i, val){
						selects	+= '<option value="'+val+'">'+val+'</option>';
					});
					
					$this.parent().parent().next().removeClass('onload').html('<div class="field"><select class="resolution_select" name="resolution[]"><option disabled="disabled" selected="selected">Выберите разрешение</option>'+selects+'</select></div>');
					
				}
			});
			
		});
		
		$('.resolution_select').live('change', function(){
		
			var $this	= $(this);
			
			$this.parent().parent().next().children().show().parent().parent().addClass('compleeted');
			
			$('#calc_step_3').find('.btn_send').removeAttr('disabled');
			
			$('#add_cam_link').show();
					
			
		});
		
		var $cams_select_table	= $('#cams_select_table');
		
		$('#add_cam_link').live('click', function(e){
			
			e.preventDefault();
			
			$(this).hide();
			
			if(current_type === 'IP'){
				var col_hide	= 'style="display:none;"';
			}else{
				var col_hide	= '';
			}
			
			var col_num = $('#cams_select_table').find('tr').size();
			$cams_select_table.append('<tr><td class="num">'+col_num+'</td><td><div class="field"><select class="location_select" name="location[]"><option disabled selected="selected">Выберите тип</option><option value="1">Внутренняя</option><option value="2">Внешняя</option></select></div></td><td class="color_block" '+col_hide+'><div class="field" style="display:none;"><select class="color_select" name="color[]"><option disabled selected="selected">Выберите цвет</option><option value="1">Цветная</option><option value="2">Черно-белая</option></select></div></td><td class="resolution_block"></td><td class="count_block"><div class="field" style="display:none;"><input type="text" value="1" size="3" maxlength="3"></div></td><td><a href="#" class="remove_cam_link">Удалить</a></td></tr>');
		});
		
		$('.remove_cam_link').live('click', function(e){
			
			e.preventDefault();
			
			$(this).parent().parent().remove();
			
			$('#add_cam_link').show();
			
			$cams_select_table.find('tbody').find('tr').each(function(index){
				$(this).children('.num').text(index+1);
				if(!$(this).hasClass('compleeted')){
					$('#add_cam_link').hide();
				}
			});
			
		});
		
		$('.mounting_block').find('input').live('change',function(){
			if($(this).attr('checked')){
				$(this).parent().parent().next().show().removeAttr('disabled');
			}else{
				$(this).parent().parent().next().hide().attr('disabled','disabled');
			}
		});
		
		$('#calc_steps_form').find('.count_block').find('input').live('keyup',function(){
			this.value = this.value.replace (/\D/, '');
		});
		
		$('#mount_size').live('keyup',function(){
			this.value = this.value.replace (/\D/, '');
		});
		
		$('#calc_start').bind('click',function(e){
			e.preventDefault();
			$('#calc_dscr').hide();
			$('#calc_block').show();
		});
		
	});

</script>

<div id="content_block">
	<div id="content">
		
		<div id="calc_dscr" style="display:none;">
			<h1 class="title">Калькулятор</h1>
			<div class="content">
				<p>Предлагаем вашему вниманию инструмент для расчета приблизительной стоимости системы видеонаблюдения.</p>
				<p>Представленный на нашем сайте калькулятор, по объективным причинам, не предназначен для составления смет с точностью  «до копейки» - его цель в получении ПРИБЛИЗИТЕЛЬНОЙ  стоимости проекта. Для уточнения точной стоимости вы всегда сможете обратиться к нашим специалистам – мы в кратчайшее время предоставим Вам окончательный расчет.</p>
				<div class="btn_block">
					<span id="calc_start" class="btn btn_start">ЗАПУСТИТЬ КАЛЬКУЛЯТОР</span>
				</div>
			</div>
		</div>
	
		<section id="calc_block">
			<nav class="">
				<ul class="progressbar clearfix">
					<li class="current"><span class="num">1</span><span class="chose">Тип системы</span></li>
					<li><span class="num">2</span><span class="chose">Класс системы</span></li>
			        <li><span class="num">3</span><span class="chose">Выбор камер</span></li>
				</ul>
			</nav>
			<div class="calc_block">
				<form id="calc_steps_form" action="" method="post" class="clearfix" autocomplete="off">
					<article id="calc_step_1" class="calc_step clearfix">
						<h2>Выбор типа системы</h2>
						<div class="type_item">
							<label style="margin-right: 2%;">
								<div class="item">
									<input type="radio" name="type" value="IP"><h1 class="title">«Сетевое» (IP) видеонаблюдение</h1>
									<div>
										<h2>Плюсы:</h2>
										<ul>
											<li>Качество изображения у большинства  сетевых камер выше (часто даже по сравнению с «аналоговыми» камерами той же ценовой категории); </li>
											<li>Более высокое разрешение,  недоступное для  «аналоговых»  систем;</li>
											<li>В большинстве случаев для установки IP  видеосистемы можно воспользоваться  уже существующей  IP-инфраструктурой, что  позволяет избежать  затраты на прокладку кабельных линий для передачи аналогового сигнала. Также большинство камер поддерживают формат PoE (питание и передача сигнала по одному проводу) ,что  даже при монтаже системы «с нуля» , упрощает прокладку кабельных трасс;</li>
											<li>Во многих случаях небольшую и среднюю IP-видеосистему может обслуживать штатный  системный администратор  компании (во многих случаях удаленно)</li>
											<li>Возможность передачи сигнала без потерь на большие расстояния позволяет развертывать IP-системы на территориально-распределенных объектах .  </li>
											<li>Более низкая «стоимость владения» системой. На рынке уже появились IP-системы, которые по первоначальным затратам  незначительно дороже аналоговых, однако уже через несколько месяцев эксплуатации оправдывают себя, экономя ресурсы;</li>
											<li>Возможность использовать «беспроводные каналы передачи данных» (например WI-FI, 3G,4G) , что невозможно при использовании «аналоговой» видеосистемы.</li>
											<li>Возможность совместной передачи видео- и аудиосигнала.</li>
										</ul>
										<h2>Минусы:</h2>
										<ul>
											<li>Основным минусом Сетевой системы видеонаблюдения  является  большая стоимость оборудования , а как следствие больший объем первоначальных денежных вложений.</li> 
										</ul>
									</div>
								</div>	
							</label>
							<label style="margin-left: 2%;">
								<div class="item">
									<input type="radio" name="type" value="ANALOG"><h1 class="title">«Аналоговая видеосистема» </h1>
									<div>
										<h2>Плюсы:</h2>
										<ul>
											<li>Основным плюсом аналоговой системы видеонаблюдения является более дешевая стоимость оборудования, а как следствие и меньшее вложение средств на этапе приобретения;</li>
											<li>Сравнительная простота первоначальной  настройки;</li>
											<li>Отсутствие вопроса «поддерживаемости формата» - любая аналоговая видеокамера может работать с любым аналоговым видеорегистратором.</li>
										</ul>
										
										<h2>Минусы:</h2>
										<ul>
											<li>Ограничение разрешения - даже самая «топовая» аналоговая видеокамера не позволит получить «мегапиксельное» разрешение;</li>
											<li>Ограниченность в максимальном расстоянии передачи аналогового видеосигнала без «затухания» видеосигнала;</li>
											<li>Большие трудозатраты при расширении системы.</li>
										</ul>

									</div>
								</div>
							</label>
						</div>
						<hr>
						<button class="alignright btn_next" onclick="next_step(this); return false;">Дальше</button>
					</article>
					<article id="calc_step_2" class="calc_step clearfix">
						<h2>Выбор класса видеосистемы:</h2>
						<div class="class_item">							
							<label>
								<div class="item">
									<input type="radio" name="class" value="BEGIN"> <h1 class="title">Бюджетное оборудование</h1> - оборудование с низким или средним качеством изображения и разрешения. Подходят для установки в небольших помещениях (например квартире) или для фиксации ситуаций,   где достаточно фиксации факта наступления события, но   не требуется визуальной идентификации человека на средних и больших расстояниях.  Обычно оборудование данного уровня ставится в небольших системах (обычно до 16 видеокамер), к которым не предъявляют высокие требования по качеству изображения, времени хранения архива, дублированию всех компонентов Системы.
								</div>
							</label>
							<label>
								<div class="item">
									<input type="radio" name="class" value="MIDDLE"> <h1 class="title">Оборудование среднего уровня</h1> - являются наиболее распространенным типом оборудования видеонаблюдения. К данному оборудованию предъявляются  высокие требования по разрешению. качеству видеосигнала, возможности масштабирования  системы, времени хранения видеоархива.
								</div>
							</label>
							<label>
								<div class="item">
									<input type="radio" name="class" value="PRO"> <h1 class="title">Профессиональное оборудование</h1> - оборудование с лучшими характеристиками,  максимальным функционалом и отказоустойчивостью, что сказывается на его стоимости. 
								</div>
							</label>
						</div>
						<hr>
						<button class="alignleft btn_prev" onclick="prev_step(this); return false;">Назад</button>
						<button class="alignright btn_next" onclick="next_step(this); return false;">Дальше</button>
					</article>
					<article id="calc_step_3" class="calc_step clearfix">
						<h2>Выберите камеры:</h2>
						<div class="cam_item">
							<table id="cams_select_table" class="base_table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Тип камеры</th>
										<th class="color_block">Цвет</th>
										<th>Разрешение</th>
										<th>Количество</th>
									</tr>
								</thead>
								<tbody>
									<tr class="first_row">
										<td class="num">1</td>
										<td>
											<div class="field">
												<select class="location_select" name="location[]">
													<option disabled selected="selected">Выберите тип</option>
													<option value="1">Внутренняя</option>
													<option value="2">Внешняя</option>
												</select>
											</div>
										</td>
										<td class="color_block info_block">
											<div class="field" style="display:none;">
												<select class="color_select" name="color[]">
													<option disabled selected="selected">Выберите цвет</option>
													<option value="1">Цветная</option>
													<option value="2">Черно-белая</option>
												</select>
											</div>
										</td>
										<td class="resolution_block info_block">
											
										</td>
										<td class="count_block info_block">
											<div class="field" style="display:none;">
												<input type="text" value="1" size="3" maxlength="3">
											</div>
										</td>
										<td></td>
									</tr>
								</tbody>
							</table>
							<a style="display:none;" href="#" id="add_cam_link">+ Добавить камеру</a>
						</div>
						<h2>Срок хранения архива:</h2>
							<div class="archive_item">
								<label>
									<div class="item">
										<input type="radio" name="archive" value="1"> <h2>До 2х недель</h2>
									</div>
								</label>
								<label>
									<div class="item">
										<input type="radio" name="archive" value="2"> <h2>До 4х недель</h2>
									</div>
								</label>
							</div>
						<div class="mount_item">	
							<div class="mounting_block"><label><input type="checkbox" name="mounting"> <h2>Заказать монтаж</label></h2></div>
							<div class="mounting_size" style="display:none;">Укажите метраж: <input id="mount_size" type="text" name="m_size" value="10"></div>
						</div>
						<hr>
						<button class="alignleft btn_prev" onclick="prev_step(this); return false;">Назад</button>
						<button class="alignright btn_send" onclick="get_result(this); return false;">Посчитать</button>
					</article>
				</form>
			</div>
		</section>
	
	</div>
</div>

{% endblock %}