{% extends "base.html" %}
{% load catalog_filters %}
{% block site_wrapper %}
{% category_list request %}
{% load archive %}
					<!-- /nav -->
<div id="content_block" class="alignleft clearfix" style="float:none;position: relative;width: 1194px;">
<div id="content">
<div class="blog_side alignleft">
	<ul>
		<h6>Архив</h6>
			{% archive %}
	</ul>
	<ul>
		<h6>Категории</h6>
			{% categories %}
	</ul>
	<p class="textright">
		<a title="Подписаться" href="http://feeds.feedburner.com">
			<img src="/static/res/img/rss_logo.png">
		</a>
	</p>
</div>
							<div class="blog_post">
								<h1 class="post_title">{{ entry.title }}</h1>
                                <p class="date">{{ entry.date }} | <a href="{{ entry.category.all.0.get_absolute_url }}">{{ entry.category.all.0.name }}</a></p>
								{{ entry.entry|safe }}
								<div class="clr"></div>
								
							</div>
						</div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-comments" data-href="ceptum.ru{{ request.path }}" data-num-posts="2" data-width="500"></div>

    <div id="vk_api_transport"></div>
    <script type="text/javascript">
        window.vkAsyncInit = function() {
            VK.init({
                apiId: 2699038, onlyWidgets: true
            });
            VK.Observer.subscribe('widgets.comments.new_comment', sendComment);
            VK.Widgets.Comments("vk_comments", {limit: 10, width: "500", attach: false});
        };

        setTimeout(function() {
            var el = document.createElement("script");
            el.type = "text/javascript";
            el.src = "http://userapi.com/js/api/openapi.js?22";
            el.async = true;
            document.getElementById("vk_api_transport").appendChild(el);
        }, 0);

        function sendComment(num, last_comment) {
            $.post("/take_vk_comment", {comment: last_comment});
        }</script>

    <!-- Put this div tag to the place, where the Comments block will be -->
    <div id="vk_comments"></div>
{% endblock %}
