<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="{{ meta_description|striptags }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<title>{% block title %}{{ page_title }}{% endblock %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}res/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="{{ STATIC_URL }}res/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}res/css/style.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#back-top").hide();
		var checker = true,
		$filter_help = $('.filt_title'),
		$target_dscr;
		$('#sidebar #menu_block .menu_sidebar .active').parents('ul').css({display:'block'});
		$('#content_block').width($('#main_block').width()-200);
		$(window).resize(function(){
			$('#content_block').width($('#main_block').width()-200);
		});
		$('.prew_img_tov').click(function(){
		//	alert('!');
			$(this).siblings('.img_block').children('img').attr('src', ($(this).attr('src')));
		});
		$('span.word_about').hover(function(){
			$(this).children('.dscr_word').fadeIn(500);
		},function(){
			$(this).children('.dscr_word').fadeOut(500);
		});
		$('.subtitle span').click(function(){
			if(checker){
				checker = false;
				$thisis = $(this).parent('p');
				$target_ul = $thisis.siblings('.sublvl');
				//$(this).parents('ul').children('li').children('.subtitle').not(this).siblings('.sublvl').slideUp(300);
				$target_ul.slideToggle(300, function(){
					checker = true;
					if($target_ul.is(':hidden')){
						$thisis.css({backgroundPosition: '-26px -17px'});
					}else{
						$thisis.css({backgroundPosition: '0px 5px'});
					}
				});
			}
		});
		$('.subtitle input').click(function(){
			$thisis = $(this);
			$target_ul = $thisis.parent('p').siblings('.sublvl');
			if($thisis.is(':checked')){
				$target_ul.slideDown(300).find('input').attr('checked','checked');
				$thisis.parent('p').css({backgroundPosition: '0px 5px'});
			}else{
				$target_ul.find('input').removeAttr('checked');
			}
		});
		$('.sublvl').each(function(){
			$target_ul = $(this);
			$thisis = $(this).siblings('.subtitle');
			$target_input = $target_ul.children('li').children('input');
			$target_input.each(function(){
				if($(this).attr('checked')){
					$target_ul.show();
				}
			});
			if($target_ul.is(':hidden')){
				$thisis.css({backgroundPosition: '-26px -17px'});
			}else{
				$thisis.css({backgroundPosition: '0px 5px'});
			}
		});
		$filter_help.hover(function(){
			//alert($(this).parents('.filtr_item').index());
			$(this).css({color:'#607890'});
			$target_dscr = $('#filtr_discription div').eq($(this).parents('.filtr_item').index()-2);
			$target_dscr.fadeIn(300);
		},function(){
			$(this).css({color:'#333'});
			$target_dscr.fadeOut(50);
		});
		$(function(){
	        $(window).scroll(function () {
	            if ($(this).scrollTop() > 300) $("#back-top").fadeIn();
	            else                           $("#back-top").fadeOut(400);
	        });
	        $('#back-top a').click(function () {
	            $('body,html').animate({
	                scrollTop: 0
	            }, 800);
	            return false;
	        });
		});
		$('.call a').click(function(event){
			$('#call_block').fadeIn(100);
			event.preventDefault();
		});
		$('#call_block, #call_block .close').click(function(event){
			$('#call_block').fadeOut(200);
			event.stopPropagation();
			event.preventDefault();
		})
		$('#call_form').click(function(event){
			event.stopPropagation();
		});
		$("#popup_call").live("submit", function(event) {
 			event.preventDefault();
            var $target = $(this),
 			send_data = $target.formSerialize(),
 			send_url = $target.attr('action');
            $.ajax({
                type: 'POST',
                url: send_url,
                data: send_data
            });
        });
	});
</script>
<body>
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 7 ]>
	<script src="res/js/dd_belatedpng.js"></script>
	<script>DD_belatedPNG.fix("img, .png_bg");</script>
<![endif]-->
{% load catalog_filters %}
{% load cart_filters  %}
	<div id="call_block">
		<div id="call_form">
			<a class="close"></a>
			<form id="popup_call" action="take_form">
				<h3>Заголовок</h3>
				<div class="row">
					<label>
						Имя<span>*</span>:
					</label>
					<input id="popup_call_name" type="text" onclick="this.value='';" value="" name="">
				</div>
				<div class="row">
					<label>Телефон<span>*</span>:</label>
					<input id="popup_call_phone" type="text" value="" name="">
				</div>
				<div class="p_ta ta_sm">
					<label>Сообщение:</label>
					<textarea id="popup_call_message" name=""></textarea>
				</div>
				<em id="popup_call_err" style="opacity: 0; display: inline;"></em>
				<input class="update_btn" type="submit" value="Отправить" name=""><br><br><br>
				<h3>Мы вам перезвоним</h3>
                <p>Оставьте свой номер телефона и мы перезвоним вам в течении 30 минут если заявка была оставлена в рабочее время с 9 00 до 20 00.</p>
			</form>
		</div>
	</div>
	<div id="wrapper">
		<header>
			<div id="contacts">
				<p class="call"><a href="#">Перезвонить</a></p>
				<p class="phone">+7 (495) 565-37-70</p>
				<p class="mail"><a href="mailto:info@cctvision.ru">info@cctvision.ru</a></p>
				<p class="skype">skype: bizzzmaker</p>
			</div>
			<div id="cam_block">
				{% if request.path == '/' %}
				{% else %}
					<a href="/" title="На главную"></a>
				{% endif %}	
			</div>
			<div id="header_title">
				<a href="/">
					<img src="{{ STATIC_URL }}res/img/loto_title.png"/>
				</a>
				<div id="logo_dscr">
					Цифровые системы видеонаблюдения, видеорегистраторы, платы видеонаблюдения, видеокамеры.
				</div>
			</div>
		</header>
		<div id="main">
			<div id="head_menu">
				<ul class="menu">
					<li class="menu_right">
						<a href="/">Главная</a>
					</li>
					<li class="menu_right menu_left">
						<a href="/delivery">Оплата и монтаж</a>
					</li>
					<li class="menu_right menu_left">
						<a href="/about">О нас</a>
					</li>
					<li class="menu_left">
						<a href="/blog">Блог</a>
					</li>
				</ul>
			</div>
			<div id="main_block" class="clearfix">
                {% block site_wrapper %}
				<div id="content_block" class="alignleft clearfix">
					<div id="content">
		        		{% endblock %}
		    			{% include "metrika.html" %}
		    		</div>
		    	</div>
	    	</div>
    	</div>
    
		<footer>
			&copy; cctvision.ru, 2011
		</footer>
	</div>
</body>
</html>
