<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/admin/css/bootstrap.css">
    <link rel="stylesheet" href="/static/admin/css/datepicker.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap-datepicker.js"></script>
</head>
<body>
	<div class="container">
		<fieldset>
			<form autocomplete="off" class="form-horizontal" id="client_add_form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
					<legend>Создание клиента</legend>
			    	<div class="control-group">
			    		<label class="control-label" for="">Название</label>
			    		<div class="controls">
			    			<input name="name" type="text" class="input-xlarge">
			    		</div>
			    	</div>
			    	<div class="control-group">
			    		<label class="control-label" for="">Контактное лицо</label>
			    		<div class="controls">
			    			<textarea name="contacts" rows="3" class="input-xlarge"></textarea>
			    		</div>
			    	</div>
			    	<div class="control-group">
			    		<label class="control-label" for="">Email</label>
			    		<div class="controls">
			    			<input name="email" type="email" class="input-xlarge">
			    		</div>
			    	</div>
			    	<div class="control-group">
			    		<label class="control-label" for="">Статус</label>
			    		<div class="controls">
			    			<label class="radio">
			    				<input type="radio" name="status" value="CALL"> Созвон
			    			</label>
			    			<label class="radio">
			    				<input type="radio" name="status" value="OFFER"> Скинуть КП
			    			</label>
			    			<label class="radio">
			    				<input type="radio" name="status" value="INSPECTION"> Осмотр
			    			</label>
			    		</div>
			    	</div>
			    	<div class="control-group">
			    		<label class="control-label" for="">Время</label>
			    		<div class="controls">
			    			<input name="datetime" type="datetime" class="datepicker" size="10">
			    			<input size="5" maxlength="5" type="time" class="time_input" style="display:none; width:40px;"> <a href="#" class="set_time_picker">уточнить время</a>
			    		</div>
			    	</div>
					<div class="control-group">
			    		<label class="control-label" for="">Комментарий к статусу</label>
			    		<div class="controls">
			    			<textarea rows="3" class="input-xlarge"></textarea>
			    		</div>
			    	</div>
			    	<div class="control-group">
			    		<label class="control-label" for="">Дополнительные данные</label>
			    		<div class="controls">
			    			<textarea name="data" rows="3" class="input-xxlarge"></textarea>
			    		</div>
			    	</div>
					<div class="control-group">
			    		<label class="control-label" for="">Исполнитель</label>
			    		<div class="controls">
			    			<select name="manager">
                                {% for user in users %}
			    				<option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                                {% endfor %}
			    			</select>
			    		</div>
			    	</div>
					<div class="control-group">
			    		<label class="control-label" for="">Прикрепить файл</label>
			    		<div class="controls load_filed_fields">
			    			<p><input type="file" class="input-file" name="file_name_1"></p>
			    			<a href="#">Приерепить еще…</a>
			    		</div>
			    	</div>
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Создать</button>
					</div>
			</form>
		</fieldset>
			<script type="text/javascript">
			$(function(){
				$('.load_filed_fields').find('a').click(function(e){
					e.preventDefault();
					var size = $('.load_filed_fields').find('p').size();
					$(this).before('<p><input type="file" class="input-file" name="file_name_'+size+'"> <a href="#" class="remove_link">Удалить</a></p>');
				});
				$('.load_filed_fields').find('a.remove_link').live('click',function(e){
					e.preventDefault();
					$(this).parent().remove();
				});
				
				$('.datepicker').datepicker();
				
				$('.set_time_picker').click(function(e){
					e.preventDefault();
					var $time_input	= $('.time_input');
					
					if($time_input.is(':hidden')){
						$time_input.val('12:00').show().focus();
						$(this).text('убрать время');
					}else{
						$time_input.val('').hide();
						$(this).text('уточнить время');
					}
					
				});
			});
		</script>
	</div>
</body>
</html>
{% if errors %}
    {% for error_field, error_message in errors.items %}
        {{ error_field }}
        {{ error_message }}
    {% endfor %}
{% endif %}
