<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/admin/css/bootstrap.css">
    <link rel="stylesheet" href="/static/admin/css/admin.css">
    <link rel="stylesheet" href="/static/admin/css/smoothness/jquery-ui-1.8.20.custom.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
      
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluide header">			
				<div class="pull-right">
					<a href="#" class="btn alignright"><i class="icon-off"></i> Выйти</a>
				</div>
			</div>
		</div>
		
		<div class="container-fluide content menu">
			<div class="">
				<a href="/myadmin/clients/all/" class="btn btn-success{% if '/myadmin/clients/all/' == request.path %}active disabled{% endif %}"><i class="icon-th-list icon-white"></i> Показать всех клиентов</a>
				<a href="/myadmin/clients/" class="btn btn-warning{% if '/myadmin/clients/' == request.path %}active disabled{% endif %}"><i class="icon-user icon-white"></i> Мои клиенты</a>
	            <a href="?time=today" class="btn btn-danger{% if 'today' in request.get_full_path %}active disabled{% endif %}"><i class="icon-time icon-white"></i> Клиенты на сегодня</a>
	            <a href="/myadmin/clients/add" class="btn btn-primary"><i class="icon-plus icon-white"></i> Добавить клиента </a>
			</div>
		</div>
		
		<hr class="clr">
	</div>
	
	<div class="container client_page_form">	
		<fieldset>
			<form action="" autocomplete="off" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
				<legend>Просмотр клиента</legend>

					<p class="client_page_field">{{ client.name }}</p>
					<p class="client_page_field">{{ client.contact_name }}</p>
					<p class="client_page_field">{{ client.address }}</p>
					<p class="client_page_field">{{ client.email }}</p>	
					<p class="client_page_field">{{ client.status }}</p>
					<p class="client_page_field">{{ client.data }}</p>
					<p class="client_page_field">{{ client.status_date }} {{ client.status_time }}</p>
					<p class="client_page_field">{{ client.status_comment }}</p>
					<p class="client_page_field">{{ client.user }}</p>
					
					<hr>
                    <div class="control-group">
                    	<label class="control-label">Комментарии:</label>
                    	<div class="controls">
	                    	<table class="table table-striped">	
								{% for comment in client.comment_set.all %}
								<tr>
									<td>
								    	<p>{{ comment.comment }}</p>
								    	{% for file in comment.commentfile_set.all %}
								       		<p>
								       			<a href="{{ file.file.url }}">{{ file.file.name|slice:"12:"|truncatechars:13 }}</a>
								       		</p>
									    {% endfor %}
									    <p class="textright">{{ comment.user.get_full_name }}</p>
								    </td>
								 </tr>
								{% endfor %}
							</table>
                    	</div>
                    </div>
                    <div class="control-group">
						<label class="control-label" for="">Новый комментарий</label>
						<div class="controls">
                            {{ form.comment.error }}
                            {{ form.comment }}
						</div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="">Прикрепить файл</label>
                        <div class="controls load_filed_fields">
                            {{ formset.management_form }}
                            {% for form in formset %}
                                {{ form.id }}
                                {{ form.file.errors }}
                                <p>{{ form.file }}</p>
                            {% endfor %}
                            <a href="#">Прикрепить еще…</a>
                        </div>
                    </div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Комментировать</button>
					</div>
			</form>
		</fieldset>
	</div>
</body>
</html>