<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/admin/css/bootstrap.css">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<fieldset>
			<form autocomplete="off" class="form-horizontal" id="client_add_form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
					<legend>Создание клиента</legend>
			    	<div class="control-group">
			    		<label class="control-label" for="">Название</label>
			    		<div class="controls">
			    			<input type="text" class="input-xlarge">
			    		</div>
			    	</div>
			    	<div class="control-group">
			    		<label class="control-label" for="">Контактное лицо</label>
			    		<div class="controls">
			    			<textarea rows="3" class="input-xlarge"></textarea>
			    		</div>
			    	</div>
			    	<div class="control-group">
			    		<label class="control-label" for="">Email</label>
			    		<div class="controls">
			    			<input type="email" class="input-xlarge">
			    		</div>
			    	</div>
			    	<div class="control-group">
			    		<label class="control-label" for="">Статус</label>
			    		<div class="controls">
			    			<label class="radio">
			    				<input type="radio" name="state" value="CALL"> Созвон
			    			</label>
			    			<label class="radio">
			    				<input type="radio" name="state" value="OFFER"> Скинуть КП
			    			</label>
			    			<label class="radio">
			    				<input type="radio" name="state" value="INSPECTION"> Осмотр
			    			</label>
			    		</div>
			    	</div>
			    	<div class="control-group">
			    		<label class="control-label" for="">Время</label>
			    		<div class="controls">
			    			<input type="datetime" class="input-xlarge">
			    		</div>
			    	</div>
					<div class="control-group">
			    		<label class="control-label" for="">Комментарий к статусу</label>
			    		<div class="controls">
			    			<textarea rows="3" class="input-xlarge"></textarea>
			    		</div>
			    	</div>
			    	<div class="control-group">
			    		<label class="control-label" for="">Дополнительные данные</label>
			    		<div class="controls">
			    			<textarea rows="3" class="input-xxlarge"></textarea>
			    		</div>
			    	</div>
					<div class="control-group">
			    		<label class="control-label" for="">Исполнитель</label>
			    		<div class="controls">
			    			<select>
                                {% for user in users %}
			    				<option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                                {% endfor %}
			    			</select>
			    		</div>
			    	</div>
					<div class="control-group">
			    		<label class="control-label" for="">Прикрепить файл</label>
			    		<div class="controls load_filed_fields">
			    			<p><input type="file" class="input-file" name="file_name_1"></p>
			    			<a href="#">Приерепить еще…</a>
			    		</div>
			    	</div>
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Создать</button>
					</div>
			</form>
		</fieldset>
			<script type="text/javascript">
			$(function(){
				$('.load_filed_fields').find('a').click(function(e){
					e.preventDefault();
					var size = $('.load_filed_fields').find('p').size();
					$(this).before('<p><input type="file" class="input-file" name="file_name_'+size+'"> <a href="#" class="remove_link">Удалить</a></p>');
				});
				$('.load_filed_fields').find('a.remove_link').live('click',function(e){
					e.preventDefault();
					$(this).parent().remove();
				});
			});
		</script>
	</div>
</body>
</html>

