<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/admin/css/bootstrap.css">
    <link rel="stylesheet" href="/static/admin/css/admin.css">
    <link rel="stylesheet" href="/static/admin/css/smoothness/jquery-ui-1.8.20.custom.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
      
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluide header">			
				<div class="pull-right">
					<a href="#" class="btn alignright"><i class="icon-off"></i> Выйти</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="client_form">
		<fieldset>
			<form autocomplete="off" class="form-horizontal" id="client_add_form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
					<legend>Создание клиента</legend>
					<div id="client_form_fields">
				    	<div class="control-group">
				    		<label class="control-label" for="">Название</label>
				    		<div class="controls">
	                            {{ form.name.errors }}
	                            {{ form.name }}
	                        </div>
				    	</div>
				    	<div class="control-group">
				    		<label class="control-label" for="">Контактное лицо</label>
				    		<div class="controls">
	                            {{ form.contact_name.errors }}
	                            {{ form.contact_name }}
				    		</div>
				    	</div>
				    	<div class="control-group">
				    		<label class="control-label" for="">Email</label>
				    		<div class="controls">
	                            {{ form.email.errors }}
	                            {{ form.email }}
				    		</div>
				    	</div>
	                    <div class="control-group">
				    		<label class="control-label" for="">Адрес</label>
				    		<div class="controls">
	                            {{ form.address.errors }}
	                            {{ form.address }}
				    		</div>
				    	</div>
				    	<div class="control-group">
				    		<label class="control-label" for="">Статус</label>
				    		<div class="controls">
	                            {{ form.status.errors }}
	                            {% for radio in form.status %}
	                                {{ radio }}
	                            {% endfor %}
				    		</div>
	                    </div>
				    	<div class="control-group">
				    		<label class="control-label" for="">Время</label>
				    		<div class="controls">
	                            {{ form.status_date.errors }}
	                            {{ form.status_date }}
	                            {{ form.status_time.errors }}
	                            {{ form.status_time }} <a href="#" class="set_time_picker">уточнить время</a>
				    		</div>
				    	</div>
						<div class="control-group">
				    		<label class="control-label" for="">Комментарий к статусу</label>
				    		<div class="controls">
	                            {{ form.status_comment.errors }}
	                            {{ form.status_comment }}
				    		</div>
				    	</div>
				    	<div class="control-group">
				    		<label class="control-label" for="">Дополнительные данные</label>
				    		<div class="controls">
	                            {{ form.data.errors }}
	                            {{ form.data }}
				    		</div>
				    	</div>
						<div class="control-group">
				    		<label class="control-label" for="">Исполнитель</label>
				    		<div class="controls">
	                            {{ form.user.errors }}
	                            {{ form.user }}
				    		</div>
				    	</div>
						<div class="control-group">
				    		<label class="control-label" for="">Прикрепить файл</label>
				    		<div class="controls load_filed_fields">
	                            {{ formset.management_form }}
	                            {% for form in formset %}
	                                {{ form.file.errors }}
	                                <p>{{ form.file }}</p>
	                            {% endfor %}
				    			<a href="#">Прикрепить еще…</a>
				    		</div>
				    	</div>
				    	<script type="text/javascript">
						$(function(){
							$('.load_filed_fields').find('a').click(function(e){
								e.preventDefault();
								var size = $('.load_filed_fields').find('p').size();
								$(this).before('<p><input id="id_clientfile_set-'+size+'-file" type="file" name="clientfile_set-'+size+'-file"> <a href="#" class="remove_link">Удалить</a></p>');
							});
							$('.load_filed_fields').find('a.remove_link').live('click',function(e){
								e.preventDefault();
								$(this).parent().remove();
							});
			
							$('.datepicker').datepicker();
			
							$('.set_time_picker').click(function(e){
								e.preventDefault();
								var $time_input	= $('.time_input');
			
								if($time_input.is(':hidden')){
									$time_input.val('12:00').show().focus();
									$(this).text('убрать время');
								}else{
									$time_input.val('').hide();
									$(this).text('уточнить время');
								}
			
							});
						});
					</script>
					</div>
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Создать</button>
					</div>
			</form>
		</fieldset>
		
	</div>
</body>
</html>
