{% load pymorphy_tags %}
<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/admin/css/bootstrap.css">
    <link rel="stylesheet" href="/static/admin/css/admin.css">
    <link rel="stylesheet" href="/static/css/chosen.css">
    <link rel="stylesheet" href="/static/admin/css/smoothness/jquery-ui-1.8.20.custom.css">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/form.js"></script>
    <script type="text/javascript">
    	jQuery(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
		    function safeMethod(method) {
		        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		    }
		
		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
		});
    </script>
</head>
<body>

	<div class="modal" id="myModal" style="display:none;">
	  <div class="modal-header">
	    <button class="close" data-dismiss="modal">×</button>
	    <h3>Редактирование клиента</h3>
	  </div>
	  <form autocomplete="off" class="form-horizontal modal-body" id="client_add_form" enctype="multipart/form-data" method="post" action="" target="loader">
	    
	  </form>
	  <div class="modal-footer">
	  	<div class="progress">
			<div class="bar"></div>
			<div class="percent">0%</div>
		</div>
	    <a href="#" class="btn" id="cancel_client_link">Отмена</a>
	    <a href="#" id="remove_client_link" class="btn btn-danger">Удалить</a>
	    <a href="#" class="btn btn-primary" id="save_client_link">Сохранить</a>
	  </div>
	</div>	
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluide header">		
				<div class="pull-right">
					<a href="#" class="btn alignright"><i class="icon-off"></i> Выйти</a>
				</div>
				<div class="pull-left">
					<ul class="nav litle_stat">
                        {% for status, value in status_statistic.items %}
						<li>{{ status }} ( <strong>{{ value }}</strong> )</li>
                        {% endfor %}
					</ul>
				</div>	
			</div>
		</div>
		<div class="container-fluide menu">
			<div class="pull-left">
				<a href="/myadmin/clients/all/" class="btn btn-success{% if '/myadmin/clients/all/' == request.path %}active disabled{% endif %}"><i class="icon-th-list icon-white"></i> Показать всех клиентов</a>
				<a href="/myadmin/clients/" class="btn btn-warning{% if '/myadmin/clients/' == request.path %}active disabled{% endif %}"><i class="icon-user icon-white"></i> Мои клиенты</a>
                <a href="?time=today" class="btn btn-danger{% if 'today' in request.get_full_path %}active disabled{% endif %}"><i class="icon-time icon-white"></i> Клиенты на сегодня</a>
                <a href="/myadmin/clients/add" class="btn btn-primary"><i class="icon-plus icon-white"></i> Добавить клиента </a><br>
                <strong>{{ expired_count }} Просроченных {{ 'клиентов'|plural:expired_count }}</strong> |
                <strong>{{ today_count }} {{ 'Клиентов'|plural:today_count }} на сегодня</strong>
			</div>
			<div class="pull-right">
				<form id="clients_filter_form" action="" method="get" autocomlete="off" class="form-inline">
					<div class="control-group client_filter">
			    			{% if time %} <input type="hidden" name="time" value="{{ time }}"> {% endif %}
			    			<select id="clients_filter_select" data-placeholder="Выберите статусы" autocomplete="off" name="status" multiple="multiple">
					    	{% for value, status in statuses %}
                                {% if value in current_statuses %}
                                    <option value="{{ value }}" selected="selected"> {{ status }}</option>
                                {% else %}
                                    <option value="{{ value }}"> {{ status }}</option>
                                {% endif %}
							{% endfor %}
							</select>
			    			
			    			<input type="submit" value="Фильтровать" class="btn">
			    	</div>
				</form>
			</div>
			
			<div class="pull-right clientsuser">
				{{ clientsuser }}
			</div>
			
		</div>
		<hr class="clr">
	</div>
	<div class="container-fluide content">
		{% if clients %}
		<table class="table table-striped" id="client_main_table">
			<thead>
				<tr>
					<th>Название</th>
					<th>Контакты</th>
					<th>Статус</th>
					<th>Комментарий</th>
					<th>Дополнительно</th>
					<th>Исполнитель</th>
					<th>Файл</th>
				</tr>
			</thead>
			<tbody>
				{% for client in clients %}
					<tr>					
					    <td><a href="/myadmin/clients/page/{{ client.id }}/">{{ client.name }}</a><br>
                        {{ client.comment_set.all.count }} {{ 'Комментарий'|plural:client.comment_set.all.count }}</td>
					    <td>{{ client.contact_name|linebreaks }} <hr>
                            <a href="http://maps.yandex.ru/?text={{ client.address|urlize }}" target="_blank">{{ client.address }}</a><hr>
                            <a href="mailto:{{ client.email }}">{{ client.email }}</a>
					    </td>
					    <td>
					    
					    	<select autocomplete="off" class="change_status_select" name="status" data-id="{{ client.id }}">
					    	{% for value, status in statuses %}
							    <option value="{{ value }}" {% if client.status == value %} selected="selected" {% endif %}> {{ status }}</option>
							{% endfor %}
							</select>
					    	<hr>
					    	<div class="date_block">
					    	<input placeholder="Указать дату" type="text" data-id="{{ client.id }}" class="datepick table_date" value="{{ client.status_date|default_if_none:"" }}">&nbsp;<input {% if not client.status_date %}style="display:none"{% endif %} maxlength="5" placeholder="уточинть время" size="5" type="text" data-id="{{ client.id }}" class="timepicker" value="{{ client.status_time|time:"H:i"|default_if_none:"" }}">
					    	</div>
					    </td>
					    <td>
					    	<textarea data-id="{{ client.id }}" placeholder="Комментарий" class="client_comment_area">{{ client.status_comment }}</textarea>
					    	</td>
					    <td>{{ client.data|linebreaks }}</td>
					    <td><a href="/myadmin/clients/{{ client.user }}/">{{ client.user.get_full_name }}</a></td>
                        <td>
                        	{% for file in client.clientfile_set.all %}
                            	<p><a href="{{ file.file.url }}">{{ file.file.name|slice:"12:"|truncatechars:13 }}</a></p>
                        	{% endfor %}
                        </td>
					    <td><a data-id="{{ client.id }}" class="client_edit_link" title="Редактировать"  data-toggle="modal" href="/myadmin/clients/edit/{{ client.id }}"><i class="icon-pencil"></i></a></td>
				    </tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}

	</div>
	<script type="text/javascript">
		$(function(){
			//отправка формы при выборе статуса
			$('.change_status_select').change(function(){
				var url = '/myadmin/clients/edit-ajx-client';
				var queryString = $(this).fieldSerialize()+'&id='+$(this).attr('data-id');
				$.ajax({
					type: 		"POST",
					url:		url,
					data:		queryString,
					success:	function(msg){

					}
				});
			});

			$('#clients_filter_select').chosen();

			var link;
			var $modal	= $('#myModal');
			$('a.client_edit_link').click(function(e){
				e.preventDefault();
				link = $(this).attr('href');
				$modal.find('.modal-body').attr('data-id',$(this).attr('data-id')).attr('action', link+'/').load(link+' #client_form_fields',function(){
					$modal.modal('show');
				});
			});

			$('#cancel_client_link').click(function(e){
				e.preventDefault();
				$modal.modal('hide');
			});

			$('#save_client_link').click(function(e){
				e.preventDefault();
				
				var bar = $('.bar');
				var percent = $('.percent');
				var status = $('#status');
				$('#client_add_form').ajaxForm({
					beforeSend: function() {
						status.empty();
						var percentVal = '0%';
						bar.width(percentVal)
						percent.html(percentVal);
					},
					uploadProgress: function(event, position, total, percentComplete) {
						var percentVal = percentComplete + '%';
						bar.width(percentVal)
						percent.html(percentVal);
						//console.log(percentVal, position, total);
					},
					success: function(msg) {
						if(msg == ''){
							$modal.modal('hide');
						}else{

							var div = document.createElement('div');
							div.innerHTML = msg;
							$modal.find('.modal-body').html('');
							$(div).find('#client_form_fields').appendTo('.modal-body');
						}
					}
				}); 
				$('#client_add_form').trigger('submit');
				/*var send_data = $('#client_add_form').formSerialize();
				$.ajax({
					type: 		"POST",
					url:		link+'/',
					data:		send_data,
					success:	function(msg){
						if(msg == ''){
							$modal.modal('hide');
						}else{

							var div = document.createElement('div');
							div.innerHTML = msg;
							$modal.find('.modal-body').html('');
							$(div).find('#client_form_fields').appendTo('.modal-body');
						}
					}
				});*/
			});

			$('.load_filed_fields').find('a').live('click',function(e){
				e.preventDefault();
				var size = $('.load_filed_fields').find('p').size();
				$(this).before('<p><input id="id_clientfile_set-'+size+'-id" type="hidden" name="clientfile_set-'+size+'-id"><input id="id_clientfile_set-'+size+'-file" type="file" name="clientfile_set-'+size+'-file"> <a href="#" class="remove_link">Удалить</a></p>');
			});
			$('.load_filed_fields').find('a.remove_link').live('click',function(e){
				e.preventDefault();
				$(this).parent().remove();
			});
			$('.datepick').datepicker({
				dateFormat: "dd.mm.yy"
			}).blur(function(){
				var $this = $(this);
				var send_data = function(){
					var url = '/myadmin/clients/edit-ajx-client';
					var val = $this.val();
					if(val != ''){
						$this.siblings('.timepicker').show();
					}else{
						$this.siblings('.timepicker').hide();
					}
					var queryString = 'date='+val+'&id='+$this.attr('data-id');
					$.ajax({
						type: 		"POST",
						url:		url,
						data:		queryString,
						success:	function(msg){
	
						}
					});
				};
				setTimeout(send_data,500);
			});
			$('.datepicker').live('click',function(){
				$(this).datepicker({showOn:'focus', dateFormat: "dd.mm.yy"}).focus();
			});

			$('.timepicker').focus(function(){
				if($(this).val() == ""){
					$(this).val('12:00');
				}
			}).blur(function(){
				var url = '/myadmin/clients/edit-ajx-client';
					var queryString = 'time='+$(this).val()+'&id='+$(this).attr('data-id');
					$.ajax({
						type: 		"POST",
						url:		url,
						data:		queryString,
						success:	function(msg){

						}
					});
			});
			$('.client_comment_area').blur(function(){
				var url = '/myadmin/clients/edit-ajx-client';
					var queryString = 'comment='+$(this).val()+'&id='+$(this).attr('data-id');
					$.ajax({
						type: 		"POST",
						url:		url,
						data:		queryString,
						success:	function(msg){

						}
					});
			});
			$('.set_time_picker').live('click',function(e){
				e.preventDefault();
				var $time_input	= $('.time_input');

				if($time_input.is(':hidden')){
					$time_input.val('12:00').show().focus();
					$(this).text('убрать время');
				}else{
					$time_input.val('').hide();
					$(this).text('уточнить время');
				}

			});
			$('#remove_client_link').click(function(){
				$.get('/myadmin/clients/del/'+$modal.find('.modal-body').attr('data-id')+'/',function(){
					$modal.modal('hide');
				});
			});
		});
	</script>
</body>
</html>