<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<a href="add">Добавить клиента</a><br>

{% if clients %}
{% for client in clients %}
    {{ client.name }}
    {{ client.contact_name }}
    {{ client.email }}
    {{ client.get_status_display }}
    {{ client.status_time }}
    {{ client.status_comment }}
    {{ client.data }}
    {{ client.user }}
    {{ client.file.name }}
    {{ client.file.file }}
{% endfor %}
{% endif %}

</body>
</html>