<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/admin/css/bootstrap.css">
    <link rel="stylesheet" href="/static/admin/css/admin.css">
    <link rel="stylesheet" href="/static/css/chosen.css">
    <link rel="stylesheet" href="/static/admin/css/smoothness/jquery-ui-1.8.20.custom.css">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/form.js"></script>
    <script type="text/javascript">
    	jQuery(document).ajaxSend(function(event, xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    function sameOrigin(url) {
		        // url could be relative or scheme relative or absolute
		        var host = document.location.host; // host + port
		        var protocol = document.location.protocol;
		        var sr_origin = '//' + host;
		        var origin = protocol + sr_origin;
		        // Allow absolute or scheme relative URLs to same origin
		        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		            // or any other URL that isn't scheme relative or absolute i.e relative.
		            !(/^(\/\/|http:|https:).*/.test(url));
		    }
		    function safeMethod(method) {
		        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		    }
		
		    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
		});
    </script>
</head>
<body>

	<div class="modal" id="myModal" style="display:none;">
	  <div class="modal-header">
	    <button class="close" data-dismiss="modal">×</button>
	    <h3>Редактирование клиента</h3>
	  </div>
	  <form autocomplete="off" class="form-horizontal modal-body" id="client_add_form" enctype="multipart/form-data" method="post" action="">
	    
	  </form>
	  <div class="modal-footer">
	    <a href="#" class="btn" id="cancel_client_link">Отмена</a>
	    <a href="#" class="btn btn-primary" id="save_client_link">Сохранить</a>
	  </div>
	</div>	
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluide header">			
				<div class="pull-right">
					<a href="#" class="btn alignright"><i class="icon-off"></i> Выйти</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluide content">
		<div class="container-fluide">
			<div class="pull-left">
				<a href="#" class="btn btn-success"><i class="icon-th-list icon-white"></i> Показать всех клиентов</a>			
				<a href="add" class="btn btn-primary"><i class="icon-plus icon-white"></i> Добавить клиента </a>
			</div>
			<div class="pull-right">
				<form id="clients_filter_form" action="" method="post" autocomlete="off" class="form-inline">
					<div class="control-group client_filter">
						
			    			<select data-placeholder="Выберите статусы" id="clients_filter_select" multiple="multiple">
			    				<option></option>
			    				<option>Созвон</option>
			    				<option>Скинуть КП</option>
			    				<option>Осмотр</option>
			    			</select>
			    			<input type="submit" value="Фильтровать" class="btn">
			    	</div>
				</form>
			</div>
		</div>
		<hr class="clr">
		{% if clients %}
		<table class="table table-striped" id="client_main_table">
			<thead>
				<tr>
					<th>Название</th>
					<th>Контакты</th>
					<th>Email</th>
					<th>Статус</th>
					<th>Комментарий</th>
					<th>Дополнительно</th>
					<th>Исполнитель</th>
					<th>Файл</th>
				</tr>
			</thead>
			<tbody>
				{% for client in clients %}
					<tr>					
					    <td><a href="">{{ client.name }}</a></td>
					    <td>{{ client.contact_name|linebreaks }}<hr>
                            <a href="http://maps.yandex.ru/?text={{ client.address|urlize }}" target="_blank">{{ client.address }}</a>
					    </td>
					    <td>{{ client.email }}</td>
					    <td>
					    
					    	<select autocomplete="off" class="change_status_select" name="status" data-id="{{ client.id }}">
					    	{% for value, status in statuses %}
							    <option value="{{ value }}" {% if client.status == value %} selected="selected" {% endif %}> {{ status }}</option>
							{% endfor %}
							</select>
					    	<hr>
					    	{{ client.status_date|default_if_none:"" }} {{ client.status_time|default_if_none:"" }}
					    </td>
					    <td>{{ client.status_comment }}</td>
					    <td>{{ client.data }}</td>
					    <td>{{ client.user.get_full_name }}</td>
                        <td>
                        	{% for file in client.clientfile_set.all %}
                            	<p><a href="{{ file.file.url }}">{{ file.file.name|slice:"12:"|truncatechars:13 }}</a></p>
                        	{% endfor %}
                        </td>
					    <td><a class="client_edit_link" title="Редактировать"  data-toggle="modal" href="../client/edit/{{ client.id }}"><i class="icon-pencil"></i></a></td>
				    </tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}

	</div>
	<script type="text/javascript">
		$(function(){
			//отправка формы при выборе статуса
			$('.change_status_select').change(function(){
				var url = '/myadmin/client/edit-status';
				var queryString = $(this).fieldSerialize()+'&id='+$(this).attr('data-id');
				$.ajax({
					type: 		"POST",
					url:		url,
					data:		queryString,
					success:	function(msg){

					}
				});
			});

			$('#clients_filter_select').chosen();

			var link;
			var $modal	= $('#myModal');
			$('a.client_edit_link').click(function(e){
				e.preventDefault();
				link = $(this).attr('href');
				$modal.find('.modal-body').load(link+' #client_form_fields',function(){
					$modal.modal('show');
				});
			});

			$('#cancel_client_link').click(function(e){
				e.preventDefault();
				$modal.modal('hide');
			});

			$('#save_client_link').click(function(e){
				e.preventDefault();
				var send_data = $('#client_add_form').formSerialize();
				$.ajax({
					type: 		"POST",
					url:		link+'/',
					data:		send_data,
					success:	function(msg){
						if(msg == ''){
							$modal.modal('hide');
						}else{
						
							var div = document.createElement('div');
							div.innerHTML = msg;
							$modal.find('.modal-body').html('');
							$(div).find('#client_form_fields').appendTo('.modal-body');
						}
					}
				});
			});
			
			$('.load_filed_fields').find('a').live('click',function(e){
					e.preventDefault();
				var size = $('.load_filed_fields').find('p').size();
				$(this).before('<p><input id="id_clientfile_set-'+size+'-id" type="hidden" name="clientfile_set-'+size+'-id"><input id="id_clientfile_set-'+size+'-file" type="file" name="clientfile_set-'+size+'-file"> <a href="#" class="remove_link">Удалить</a></p>');
			});
			$('.load_filed_fields').find('a.remove_link').live('click',function(e){
				e.preventDefault();
				$(this).parent().remove();
			});

			$('.datepicker').live('click',function(){
				$(this).datepicker({showOn:'focus'}).focus();
			});

			$('.set_time_picker').live('click',function(e){
				e.preventDefault();
				var $time_input	= $('.time_input');

				if($time_input.is(':hidden')){
					$time_input.val('12:00').show().focus();
					$(this).text('убрать время');
				}else{
					$time_input.val('').hide();
					$(this).text('уточнить время');
				}

			});
		});
	</script>
</body>
</html>
