{% extends "base.html" %}
{% block site_wrapper %}
<div id="content_block" class="alignleft clearfix">
<div id="content">
	<div id="Breadcrumbs">
		<a href="/video-solutions">Типовые решения</a> »&nbsp; Автосервис/Автомойка
	</div>
	
	<div class="office">
		<div class="intro">
			<div class="order n17">
				<h1>Видеонаблюдение в автосервис</h1>
				<a href="#" onclick="return fn_office_showFrom(false)" id="a_order"><img src="{{ STATIC_URL }}res/img/order.gif" alt="Заказать" /></a>
			</div>
			<div class="intro-right">
				<h2>Видеонаблюдение в автосервис/автомойку.</h2>
				<p>
					Система видеонаблюдения в автосервисе/автомойке дает целый ряд возможностей. Ваши клиенты во время ожидания смогут наблюдать за работой сервиса или мойки.<br><br>
					Вы сможете удаленно контролировать ваш бизнес, наблюдать за персоналом.<br>
					Естественно видеонаблюдение предоставит широкие возможности в области безопасности.
				</p>

				<h2>Мы предлагаем решения для предприятий в сфере обслуживания автотранспортных средств, а именно:</h2>
				<p>&bull; Многоканальное видеонаблюдение на территории Предприятия.</p>
				<p>&bull; Видеонаблюдение в производственных помещениях.</p>
				<p>&bull; Автоматическая регистрация автомобилей.</p>
				<p>&bull; Видеонаблюдение в торговом зале.</p>
				<p>&bull; Система контроля и управления доступом</p>
			</div>
			<div class="clr"></div>

            <h2>Многоканальное видеонаблюдение на территории Предприятия.</h2>
            <p>
                Позволит обеспечить безопасность и получить объективную информацию об обстановке на территории
                предприятия, путем просмотра в реальном времени или видеоархива через сеть Интернет
                (посредствам персональных компьютеров, мобильных устройств) — вы всегда будете в курсе происходящего
                на Вашем предприятии.
            </p>
            <h2>Видеонаблюдение в производственных помещениях.</h2>
            <p>
                Позволит Вам и Вашим Клиентам быть всегда уверенным в качестве услуг и избежать спорных
                или конфликтных ситуаций.
            </p>
            <h2>Автоматическая регистрация автомобилей.</h2>
            <p>
                Благодаря автоматическому распознаванию Государственного регистрационного номера и сохранение
                его в базе данных совместно с видео и фотоизображениями автомобиля, информацией о дате, времени
                въезда/выезда позволит вести автоматический учет транспортных средств, въезжавших на территорию и выезжающих
                с территории Предприятия, что позволит минимизировать угрозу убытков от несанкционированных действий
                персонала и получать объективную картину работы предприятия (при необходимости возможно интегрировать
                Систему автоматической регистрации номеров с Системой контроля доступа)
            </p>
            <h2>Видеонаблюдение в торговом зале.</h2>
            <p>
                <strong>Видеоконтроль за покупателями</strong> в торговом зале позволит регистрировать факты правонарушений,
                таких как кража или порча товара и оборудования.<br>
                <strong>Контроль за работой продавцов</strong>(в том числе и путем интеграции кассовых терминалов с системой
                видеонаблюдения) позволяет выявить случаи мошенничества персонала, контроль за качеством и оперативностью
                обслуживания клиентов, получение данных необходимых для анализа спорных ситуаций с покупателями.
            </p>
            <h2>Система контроля и управления доступом</h2>
            <p>
                Позволит Вам санкционировать проход(проезд) на территорию Вашей Компании и вести учет рабочего
                времени Вашего персонала.<br>
                Наши специалисты проведут предпроектное обследование, проконсультируют Вас и предложат Вам решение
                наиболее подходящее под Ваши задачи и требования.
            </p>
        </div>
<div class="office-form-data" id="office_form">
	<div class="office-form">
		<form method="post" action="" class="wpsc_checkout_forms">
			<br>
			<h2>Пожалуйста, заполните контактную информацию:</h2><br>
			<p>Области, отмеченные звёздочкой, должны быть заполненны.<br><br>
			<table class='wpsc_checkout_table'>
				<tr><th><label for="id_name">Имя*:</label></th><td><ul class="errorlist"><li>Имя обязательно для заполнения</li></ul><input type="text" name="name" id="id_name" /></td></tr>
				<tr><th><label for="id_phone">Телефон*:</label></th>
					<td>
						<ul class="errorlist"><li>Телефон обязателен для заполнения</li></ul><input type="hidden" name="phone" id="id_phone" class="hidden_phone" />
						<div class="phone-inp">
							<div class="phone-inp-click-area" onclick="fn_office_tel_click(this)"></div>
							<input type="text" name="tmp_phone1" class="phone1" maxlength="3" onkeyup="fn_office_tel_keyup(this,1,event)" />
							<input type="text" name="tmp_phone2" class="phone2" maxlength="3" onkeyup="fn_office_tel_keyup(this,2,event)" />
							<input type="text" name="tmp_phone3" class="phone3" maxlength="2" onkeyup="fn_office_tel_keyup(this,3,event)" />
							<input type="text" name="tmp_phone4" class="phone4" maxlength="2" onkeyup="fn_office_tel_keyup(this,4,event)" />
						</div>
					</td>
				</tr>
				<tr><th><label for="id_email">Email:</label></th><td><input type="text" name="email" id="id_email" /></td></tr>
				<tr><th><label for="id_address">Адрес:</label></th><td><textarea id="id_address" rows="2" cols="40" name="address"></textarea></td></tr>
				<tr><th><label for="id_comment">Комментарий:</label></th><td><textarea id="id_comment" rows="2" cols="40" name="comment"></textarea></td></tr>
				<tr><td></td><td align="center">
					<input class="make_purchase" type="submit" value="Сделать заказ" name="Good" alt="сделать заказ" style="background-image: none;" onclick="return fn_office_submit(this)" />
				</td></tr>
			</table>
		</form>
	</div>
</div>
<div class="office-form-data" id="office_form_result">
	<div class="office-form">
		<div class="result-text">
			Cпасибо большое за ваш заказ, в ближайшее время мы с вами свяжемся.
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/office.js"></script>
{% endblock %}