{% extends "base.html" %}
{% block site_wrapper %}
    <div id="content_block" class="alignleft clearfix">
        <div id="content">
                <!--  Типовые решения  -->
                <div id="items" class="clearfix">
                    <h1 id="page_title">Типовые решения</h1>
                    <div class="item">
                        <div class="img_block" style="background-image: url(/static/res/img/tp_ofice.jpg)">
                            <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                            <a href="/office"></a>
                        </div>
                        <a href="/office">Офис</a>
                    </div>
                    <div class="item">
                        <div class="img_block" style="background-image: url(/static/res/img/tp_shop.jpg)">
                            <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                            <a href="/store"></a>
                        </div>
                        <a href="/store">Магазин</a>
                    </div>
                    <div class="item">
                        <div class="img_block" style="background-image: url(/static/res/img/tp_home.jpg)">
                            <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                            <a href="/house"></a>
                        </div>
                        <a href="/house">Дом</a>
                    </div>
                    <div class="item">
                        <div class="img_block" style="background-image: url(/static/res/img/tp_porch.jpg)">
                            <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                            <a href="/podezd"></a>
                        </div>
                        <a href="/podezd">Подъезд</a>
                    </div>
                    <div class="item">
                        <div class="img_block" style="background-image: url(/static/res/img/tp_autoserv.jpg)">
                            <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                            <a href="/autoservice"></a>
                        </div>
                        <a href="/autoservice">Автосервис/Автомойка</a>
                    </div>
                </div>


                <!-- Конец типовых решений   -->
            <div id="cont_discr" class="clearfix">
                <h1 id="page_title">Установка и монтаж систем видеонаблюдения, контроль доступа.</h1>
                Мы верим в то, что можно делать бизнес честно, не обманывать на завышенных сметах, продаже ненужного оборудования, несуществующего
                программного обеспечения, и мы не выставляем огромные цены за монтаж прикрываясь сложностью настройки оборудования.<br><br>
                К сожалению на рынке видеонаблюдения постоянно обманывают клиентов, <strong>наше конкурентное преимущество - честность!</strong><br>
                Покажите нам смету составленную вам другой компанией и в 99 случаев из 100 у нас будет на много дешевле.<br><br>
                <strong>Компания «Цептум»</strong> рада предложить Вам только качественные системы видеонаблюдения.<br>
                У нас имеются, как <strong>готовые комплекты оборудования</strong>, так и отдельные компоненты: <strong>камеры</strong>, <strong>видеорегистраторы</strong>, <strong>муляжи камер</strong> и различные комплектующие.<br><br>
                <strong>Наши специалисты установят и настроят все необходимое оборудование в самые кратчайшие сроки.</strong>
                Перед монтажом специалист прибудет к Вам для составления проекта с указанием необходимого оборудования и конечной стоимости.<br><br>
                Монтаж видеонаблюдения и установка видеонаблюдения - наш профиль!<br><br>

                <center><strong>Честны перед вами, как перед собой!</strong></center>
            </div>
{% endblock %}