{% extends "base.html" %}
{% block site_wrapper %}
    <div id="content_block" class="alignleft clearfix">
        <div id="content">
                <!--  Типовые решения  -->
                <div id="items" class="clearfix">
                    <h1 id="page_title">Типовые решения</h1>
                    <div class="item">
                        <div class="img_block" style="background-image: url(/static/res/img/tp_ofice.jpg)">
                            <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                            <a href="/office"></a>
                        </div>
                        <a href="/office">Офис</a>
                    </div>
                    <div class="item">
                        <div class="img_block" style="background-image: url(/static/res/img/tp_shop.jpg)">
                            <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                            <a href="/store"></a>
                        </div>
                        <a href="/store">Магазин</a>
                    </div>
                    <div class="item">
                        <div class="img_block" style="background-image: url(/static/res/img/tp_home.jpg)">
                            <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                            <a href="/house"></a>
                        </div>
                        <a href="/house">Дом</a>
                    </div>
                    <div class="item">
                        <div class="img_block" style="background-image: url(/static/res/img/tp_porch.jpg)">
                            <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                            <a href="/podezd"></a>
                        </div>
                        <a href="/podezd">Подъезд</a>
                    </div>
                    <div class="item">
                        <div class="img_block" style="background-image: url(/static/res/img/tp_autoserv.jpg)">
                            <i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>
                            <a href="/autoservice"></a>
                        </div>
                        <a href="/autoservice">Автосервис/Автомойка</a>
                    </div>
                </div>


                <!-- Конец типовых решений   -->
            <div id="cont_discr" class="clearfix">
                <p>
                Предлагаемые нами   решения  основаны на передовых технологиях и опыте построения Систем безопасности для
                    компаний различного масштаба и профессиональных отраслей.<br>
                    В наших решениях мы  всегда учитываем  специфику
                    работы  наших Заказчиков - учитывая   возможные «узкие места»   предлагаем  наиболее полное решение,
                    которые охватывают  все аспекты для построение эффективной системы технической безопасности.
                </p><br>

                <p>
                В данном разделе вы сможете ознакомиться с решениями задач, наиболее часто встречающимися при построении
                    систем  для компаний  определенной отрасли.
                    Также вы всегда  можете позвонить нам по телефону +7(495)565-37-70 или <a href="mailto:info@ceptum.ru">отправить запрос</a>
                    – наши специалисты проконсультируют вас, составят концепцию построения системы и помогут подобрать наиболее подходящее
                    оборудование.
                </p>

            </div>
{% endblock %}