{% extends "base.html" %}
{% block site_wrapper %}
<div id="content_block" class="alignleft clearfix">
<div id="content">
	<div id="Breadcrumbs">
		<a href="/video-solutions">Типовые решения</a> »&nbsp; Торговый центр
	</div>

	<div class="office">
		<div class="intro">
			<div class="order n7">
				<h1>Видеонаблюдение в торговый центр</h1>
				<a href="#" onclick="return fn_office_showFrom(false)" id="a_order"><img src="{{ STATIC_URL }}res/img/order.gif" alt="Заказать" /></a>
			</div>
			<div class="intro-right">
				<h2>Видеонаблюдение в торговый центр.</h2>

				<strong>Наши Решения для торговых центров - решение всего комплекса задач обеспечения безопасности,
                    как отдельного заведения, так и всех предприятий  сети, а именно:</strong>
                <p>&bull; Контроль над прилегающей территорией, входами и въездами на территорию.</p>
				<p>&bull; Видеоконтроль в торговых залах.</p>
				<p>&bull; Выявление фактов появления нежелательных лиц.</p>
                <p>&bull; Контроль персонала.</p>
				<p>&bull; Контроль обстановки в складских помещениях, видеоконтроль приемки товара.</p>
                <p>&bull; Контроль работы продавцов и кассиров.</p>
                <p>&bull; Система контроля доступа.</p>
                <p>&bull; Организация единой системы безопасности для территориально распределенных объектов Сети Предприятия.</p>
            </div>
			<div class="clr"></div>

            <h2>Контроль над прилегающей территорией, входами и въездами на территорию.</h2>
            <p>
                - Общий контроль над прилегающей территорией;<br>
                - Обеспечение безопасности транспортных средств на автостоянке заведения ;<br>
                - Защита от несанкционированного проникновения внутрь помещений в нерабочее время и предотвращение случаев вандализма.<br>
            </p>
            <h2>Видеоконтроль в торговых залах.</h2>
            <p>
                - Фиксация и пресечение фактов кражи личных вещей, товара;<br>
                - Фиксация и пресечение конфликтных ситуаций в торговых залах;<br>
                - Позволяет визуально контролировать   витрины, следить за их наполнением и содержимым;<br>
                - Отслеживать активность покупателей и вести их подсчет, определять наиболее популярные у посетителей
                торговые зоны на территории торгового зала, что в свою очередь помогает оптимизировать структуру торговых
                площадей, номенклатуру предлагаемого товара и т. д.;
            </p>
            <h2>Выявление фактов появления нежелательных лиц.</h2>
                <p>
                    Выявление и ограничение доступа нежелательных персон, достигаемое, как «штатными» средствами видеосистемы,
                    так и с использованием интеллектуальной системы «захвата» и распознавания лиц  посетителей
                    (с дальнейшим оповещением сотрудников Службы безопасности о появлении нежелательного лица ).
                </p>
            <h2>Контроль персонала.</h2>
            <p>
                - Выявление случаев мошенничества и  хищения товара в торговом зале;<br>
                - Контроль над качеством и оперативностью обслуживания покупателей, оперативностью консультирования клиентов;<br>
                - Контроль  (в режиме реального времени или в режиме «архива»)  за оперативностью  выкладывания товара на витрины;<br>
                - Получение  видеоданных , необходимых для анализа спорных и конфликтных ситуаций с клиентом;<br>
                - Контроль за обстановкой в нерабочее время;
            </p>
            <h2>Контроль обстановки в складских помещениях, видеоконтроль приемки товара.</h2>
            <p>
                Установка видеонаблюдения в складских помещениях помогает выявить и пресечь случаи хищения товара,
                выявить мошеннические действия персонала ( в том числе и в процессе приемки товара),что позволяет исключить
                (или  минимизировать ) потери предприятия от действий «не чистых на руку» сотрудников.
            </p>
            <h2>Контроль работы продавцов и кассиров.</h2>
            <p>
                – Выявление мошенничества на кассовых терминалах ( махинаций с кредитными картами клиентов, кража наличных средств,
                махинации со сдачей и др.)<br>
                – Совмещение видеоинформации, получаемой от установленных над кассами видеокамер и текстовых отчетов о кассовых операциях
                позволят в любой период времени получить реальную картину работы кассира.<br>
                – Получение данных необходимых для оценки корректности и оперативности  работы кассира,
                анализа допущенных при расчетах ошибок: информация об открытиях денежного ящика, конфликтных ситуациях и др.
            </p>
            <h2>Система контроля доступа.</h2>
            <p>
                - Контроль доступа автотранспортных средств на служебную территорию может быть организован, как средствами
                установки локального шлагбаума или распашных ворот, так и посредствам интеграции данных устройств
                в единую Систему контроля и управления доступа предприятия
                (в том числе и Системы автоматического распознавания автомобильных номеров).<br><br>
                - Контроль доступа в помещения позволяет регламентировать доступ конкретного человека в конкретное помещение
                (при этом существует возможность настройки  доступа по определенному графику), ограничивать доступ в
                особо защищенные помещения (до нескольких десятков вариантов - Доступ по карте, по PIN-коду, карте и PIN-коду,
                с подтверждением, с сопровождением, по двум или трем картам, под принуждением и др.), настраивать определенный
                алгоритм работы системы.<br><br>
                - Система учета рабочего времени персонала предназначена для повышения эффективности работы служащих и
                повышения трудовой дисциплины - система учета рабочего времени может работать как в составе единой системы
                контроля доступа, так и автономно.
            </p>
            <h2>Организация единой системы безопасности для территориально распределенных объектов Сети Предприятия.</h2>
            <p>
                - удаленный доступ к данным и дистанционная работа с системой с использованием сетей связи,
                поддерживающих протокол TCP/IP, в том числе, через стандартный Web-browser;<br>
                - организация необходимого количества рабочих мест  всем сотрудникам, участвующим в процессе
                обеспечения безопасности и принятии организационных решений;<br>
                - возможность организации единого  централизованного хранилища видеоданных, репликацию видеоданных
                с удаленных серверов.<br>
                - разграничение прав доступа к данным и работы с системой для разных категорий пользователей.
            </p>
        </div>
<div class="office-form-data" id="office_form">
	<div class="office-form">
		<form method="post" action="" class="wpsc_checkout_forms">
			<br>
			<h2>Пожалуйста, заполните контактную информацию:</h2><br>
			<p>Области, отмеченные звёздочкой, должны быть заполненны.<br><br>
			<table class='wpsc_checkout_table'>
				<tr><th><label for="id_name">Имя*:</label></th><td><ul class="errorlist"><li>Имя обязательно для заполнения</li></ul><input type="text" name="name" id="id_name" /></td></tr>
				<tr><th><label for="id_phone">Телефон*:</label></th>
					<td>
						<ul class="errorlist"><li>Телефон обязателен для заполнения</li></ul><input type="hidden" name="phone" id="id_phone" class="hidden_phone" />
						<div class="phone-inp">
							<div class="phone-inp-click-area" onclick="fn_office_tel_click(this)"></div>
							<input type="text" name="tmp_phone1" class="phone1" maxlength="3" onkeyup="fn_office_tel_keyup(this,1,event)" />
							<input type="text" name="tmp_phone2" class="phone2" maxlength="3" onkeyup="fn_office_tel_keyup(this,2,event)" />
							<input type="text" name="tmp_phone3" class="phone3" maxlength="2" onkeyup="fn_office_tel_keyup(this,3,event)" />
							<input type="text" name="tmp_phone4" class="phone4" maxlength="2" onkeyup="fn_office_tel_keyup(this,4,event)" />
						</div>
					</td>
				</tr>
				<tr><th><label for="id_email">Email:</label></th><td><input type="text" name="email" id="id_email" /></td></tr>
				<tr><th><label for="id_address">Адрес:</label></th><td><textarea id="id_address" rows="2" cols="40" name="address"></textarea></td></tr>
				<tr><th><label for="id_comment">Комментарий:</label></th><td><textarea id="id_comment" rows="2" cols="40" name="comment"></textarea></td></tr>
				<tr><td></td><td align="center">
					<input class="make_purchase" type="submit" value="Сделать заказ" name="Good" alt="сделать заказ" style="background-image: none;" onclick="return fn_office_submit(this)" />
				</td></tr>
			</table>
		</form>
	</div>
</div>
<div class="office-form-data" id="office_form_result">
	<div class="office-form">
		<div class="result-text">
			Cпасибо большое за ваш заказ, в ближайшее время мы с вами свяжемся.
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/office.js"></script>
{% endblock %}