{% extends "base.html" %}
{% block site_wrapper %}
<div id="content_block" class="alignleft clearfix">
<div id="content">
	<div id="Breadcrumbs">
		<a href="/video-solutions">Типовые решения</a> »&nbsp; Офис
	</div>
	
	<div class="office">
		<div class="intro">
			<div class="order n1">
				<h1>Видеонаблюдение в офис</h1>
                <p><i>Подберем необходимое оборудование под ваш офис</i></p>
				<a href="#" onclick="return fn_office_showFrom(false)" id="a_order"><img src="{{ STATIC_URL }}res/img/order.gif" alt="Заказать" /></a>
			</div>
			<div class="intro-right">
				<h2>Видеонаблюдение в офис.</h2>
				<p>
					Видеонаблюдение в офисе дает неоспоримые преимущества для ведения Вашего бизнеса. Практически в любом офисе хранятся ценные вещи, исчезновение которых нанесет ущерб вашему делу. Невозможно все спрятать в сейф или в банк, учитывая что некоторыми важными вещами постоянно пользуются. Установка видеонаблюдения оградит материальные ценности от случаев кражи и простой халатности.
					<br />Также важным преимуществом видеонаблюдения является контроль за сотрудниками. Даже если двери офиса оборудованы системой контроля удаленного доступа (СКУД), бывают случаи, когда сотрудники утверждают, что система показала неверное время или просто передают карточки своим товарищам чтобы за них отметились. В таком случае можно разрешить спорную ситуацию об опозданиях на работу.
                    <br />Не обязательно ставить камеры прямо на рабочих местах, достаточно установить наблюдение за входом в офис. Так сотрудники будут чувствовать себя комфортнее и вы всегда будете знать кто во сколько пришел.
				</p>

				<h2>Наши решения для офисов - решение всего комплекса задач  обеспечения безопасности как отдельного офиса, так и
                    территориально-распределенных офисных центров, а именно:</h2>
				<p>&bull; Контроль  прилегающей территории и отрытых площадок.</p>
                <p>&bull; Видеонаблюдение  и аудиоконтроль стойки регистрации, зоны ожидания посетителей,
                    рабочих зон,  комнаты переговоров и конференц-зала.</p>
				<p>&bull; Контроль  помещений специализированного (усиленного) контроля.</p>
                <p>&bull; Система контроля доступа.</p>
				<p>&bull; Интеграция и обеспечение взаимодействия в рамках единого комплекса.</p>
                <p>&bull; Организация единой системы безопасности для территориально распределенных подразделений</p>
            </div>
			<div class="clr"></div>
            <h2>Контроль  прилегающей территории и открытых площадок.</h2>
            <p>
                Предназначен для обеспечение безопасности транспортных средств на прилегающих территориях и парковках,
                что помогает предотвратить  случаи хищения и порчи автотранспорта сотрудников и посетителей;
            </p>
            <h2>Видеонаблюдение и аудиоконтроль стойки регистрации, зоны ожидания посетителей, рабочих зон, комнаты переговоров и конференц-зала.</h2>
            <p>
                - Визуальный и аудиоконтроль за процессом работы всех служб предприятия;<br>
                - Аудио и видеофиксация  встреч и переговоров, что позволит анализировать и проводить
                оценку действий персонала, оперативно найти необходимую информацию при возникновении спорных ситуаций ;<br>
                - Контроль за качеством и оперативностью  обслуживания , получение данных необходимых для анализа спорных ситуаций;<br>
                - Выявление и ограничение доступа нежелательных персон, достигаемое как «штатными»
                средствами видеосистемы, так и с использованием интеллектуальной системы «захвата»
                и распознавания лиц посетителей (с дальнейшим оповещением сотрудников Службы безопасности
                о появлении нежелательного лица );
            </p>
            <h2>Контроль  помещений специализированного (усиленного) контроля.</h2>
                <p>
                    - Видеоконтроль помещений, в которых ведутся расчетно-денежные операции и хранится финансовая информация (кассы, бухгалтерия);<br>
                    - Видео и аудиоконироль в помещениях  храния  особо ценной или защищаемой информации  (серверные, архив и т.д.)<br>
                    - Видеоконтроль кабинетов руководителей.
                </p>
            <h2>Система контроля доступа.</h2>
            <p>
                - <strong>Контроль доступа в помещения</strong> позволяет регламентировать доступ конкретного человека
                в конкретное помещение ( при этом существует возможность настройки  доступа по определенному графику),
                ограничивать доступ в  особо защищенные помещения (до нескольких десятков вариантов - Доступ по карте,
                по PIN-коду, карте и PIN-коду, с подтверждением, с сопровождением, по двум или трем картам, под принуждением и др.),
                настраивать  определенный алгоритм работы системы. В составе системы могут быть использованы как
                замки (электро-механические, электро-магнитные) и защелки, так и турникеты, шлюзовые кабины.<br><br>
                - <strong>Система учета   рабочего времени  персонала</strong>  предназначена для  повышения эффективности
                работы служащих и повышения трудовой дисциплины - система учета рабочего времени может работать, как в составе
                единой системы контроля доступа, так и автономно.<br><br>
            </p>
            <h2>Интеграция и обеспечение взаимодействия в рамках единого комплекса.</h2>
            <p>
                Специализированная интеграционная платформа безопасности позволит интегрировать в единый комплекс<br>
                такие компоненты технической безопасности , как :<br>
                - <strong>система охранного видеонаблюдения</strong> ;<br>
                - <strong>системы контроля и управления доступом</strong> для обеспечения дифференцированного прохода персонала, клиентов
                в различные помещения предприятия, учета рабочего времени.;<br>
                - <strong>системы охранной сигнализации</strong> и оповещения для обеспечения немедленного реагирования сотрудников службы
                безопасности, отделов вневедомственной охраны, отделений полиции, охранных предприятий;<br>
                - <strong>средств инженерной защиты</strong> для программирования их реакции в случае регистрации определенных событий.
            </p>
            <h2>Организация единой системы безопасности для территориально распределенных подразделений.</h2>
            <p>
                - удаленный доступ к данным и дистанционная работа с системой с использованием сетей связи,
                поддерживающих протокол TCP/IP, в том числе, через стандартный Web-browser;<br>
                - организация необходимого количества рабочих мест  всем сотрудникам, участвующим в процессе
                обеспечения безопасности и принятии организационных решений;<br>
                - возможность организации единого  централизованного хранилища видеоданных, репликацию видеоданных
                с удаленных серверов.<br>
                - разграничение прав доступа к данным и работы с системой для разных категорий пользователей.
            </p>
        </div>
<div class="office-form-data" id="office_form">
	<div class="office-form">
		<form method="post" action="" class="wpsc_checkout_forms">
			<br>
			<h2>Пожалуйста, заполните контактную информацию:</h2><br>
			<p>Области, отмеченные звёздочкой, должны быть заполненны.<br><br>
			<table class='wpsc_checkout_table'>
				<tr><th><label for="id_name">Имя*:</label></th><td><ul class="errorlist"><li>Имя обязательно для заполнения</li></ul><input type="text" name="name" id="id_name" /></td></tr>
				<tr><th><label for="id_phone">Телефон*:</label></th>
					<td>
						<ul class="errorlist"><li>Телефон обязателен для заполнения</li></ul><input type="hidden" name="phone" id="id_phone" class="hidden_phone" />
						<div class="phone-inp">
							<div class="phone-inp-click-area" onclick="fn_office_tel_click(this)"></div>
							<input type="text" name="tmp_phone1" class="phone1" maxlength="3" onkeyup="fn_office_tel_keyup(this,1,event)" />
							<input type="text" name="tmp_phone2" class="phone2" maxlength="3" onkeyup="fn_office_tel_keyup(this,2,event)" />
							<input type="text" name="tmp_phone3" class="phone3" maxlength="2" onkeyup="fn_office_tel_keyup(this,3,event)" />
							<input type="text" name="tmp_phone4" class="phone4" maxlength="2" onkeyup="fn_office_tel_keyup(this,4,event)" />
						</div>
					</td>
				</tr>
				<tr><th><label for="id_email">Email:</label></th><td><input type="text" name="email" id="id_email" /></td></tr>
				<tr><th><label for="id_address">Адрес:</label></th><td><textarea id="id_address" rows="2" cols="40" name="address"></textarea></td></tr>
				<tr><th><label for="id_comment">Комментарий:</label></th><td><textarea id="id_comment" rows="2" cols="40" name="comment"></textarea></td></tr>
				<tr><td></td><td align="center">
					<input class="make_purchase" type="submit" value="Сделать заказ" name="Good" alt="сделать заказ" style="background-image: none;" onclick="return fn_office_submit(this)" />
				</td></tr>
			</table>
		</form>
	</div>
</div>
<div class="office-form-data" id="office_form_result">
	<div class="office-form">
		<div class="result-text">
			Cпасибо большое за ваш заказ, в ближайшее время мы с вами свяжемся.
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/office.js"></script>
{% endblock %}