{% extends "base.html" %}
{% block site_wrapper %}
<div id="content_block" class="alignleft clearfix">
<div id="content">
	<div id="Breadcrumbs">
		<a href="/video-solutions">Типовые решения</a> »&nbsp; Отель
	</div>

	<div class="office">
		<div class="intro">
			<div class="order n11">
				<h1>Видеонаблюдение в гостиницу</h1>
				<a href="#" onclick="return fn_office_showFrom(false)" id="a_order"><img src="{{ STATIC_URL }}res/img/order.gif" alt="Заказать" /></a>
			</div>
			<div class="intro-right">
				<h2>Видеонаблюдение в Отель.</h2>

				<strong>Наши решения для отелей  - решение всего комплекса задач обеспечения безопасности, как отдельного заведения,
                    так и всех предприятий  сети, а именно:</strong>
                <p>&bull; Контроль на входе и прилегающих территориях.</p>
				<p>&bull; Видеоконтроль в холле, на стойке регистрации, внутренних помещениях.</p>
				<p>&bull; Видеоконтроль в ресторане, баре, танцевальном зале, комнатах отдыха.</p>
                <p>&bull; Контроль за работой персонала.</p>
				<p>&bull; Видеонаблюдение на кухне и складе.</p>
                <p>&bull; Система контроля доступа.</p>
                <p>&bull; Интеграция и обеспечение взаимодействия в рамках единого комплекса.</p>
                <p>&bull; Организация единой системы безопасности для территориально распределенных объектов Сети Предприятия.</p>
            </div>
			<div class="clr"></div>

            <h2>Контроль на входе и прилегающих территориях.</h2>
            <p>
                - Предупреждение конфликтных и опасных ситуаций на входах/выходах:<br>
                - Обеспечение безопасности транспортных средств на автостоянке заведения;<br>
                - Предотвращение случаев вандализма;
            </p>
            <h2>Видеоконтроль выставочного зала и служебных помещений.</h2>
            <p>
                - Регистрация фактов правонарушений (хищение личных вещей, кража и порча имущества);<br>
                - Предоставление данных для оперативного вмешательства сотрудников службы  безопасности
                в ход событий и предотвращение их нежелательного развития;<br>
                - Дистанционное управление видеокамерами для получения максимально полной картины происходящего;<br>
                - Контроль за качеством и оперативностью  обслуживания клиентов, получение данных необходимых
                для анализа спорных ситуаций с клиентом;<br>
                - Превентивный эффект - не каждый злоумышленник решится на противоправное действие
                зная об организованном в заведении видеонаблюдении;<br>
                - Выявление и ограничение доступа  нежелательных персон;
            </p>
            <h2>Видеоконтроль в ресторане, баре, танцевальном зале, комнатах отдыха.</h2>
                <p>
                    – Выявление мошенничества на кассовых узлах ( махинаций с кредитными картами клиентов, воровство наличных средств и др.);<br>
                    – Совмещение видеоинформации, получаемой от установленных над кассовыми терминалами видеокамер,
                    и текстовых отчетов о кассовых операциях;<br>
                    – Контроль общей обстановки, предотвращение и оперативное реагирование на возникновение конфликтных ситуаций .
                </p>
            <h2>Контроль за работой персонала.</h2>
            <p>
                - Выявление случаев хищения недобросовестного  отношения персонала к  обязанностям;<br>
                - Контроль за качеством и оперативностью  обслуживания клиентов;<br>
                - Получение данных необходимых для анализа спорных ситуаций с клиентом;<br>
                - Контроль за обстановкой в нерабочее время;
            </p>
            <h2>Видеонаблюдение на кухне и складе.</h2>
                <p>
                    Установка камер видеонаблюдения на кухне и складе позволит контролировать процесс приготовления блюд,
                    работу персонала, предотвратить или выявить факты хищения  продуктов и алкоголя.
                </p>
            <h2>Система контроля доступа.</h2>
                <p>
                    - <strong>Контроль доступа в помещения</strong> позволяет регламентировать доступ конкретного человека
                    в конкретное помещение ( при этом существует возможность настройки  доступа по определенному графику),
                    ограничивать доступ в  особо защищенные помещения (до нескольких десятков вариантов - Доступ по карте,
                    по PIN-коду, карте и PIN-коду, с подтверждением, с сопровождением, по двум или трем картам, под принуждением и др.),
                    настраивать  определенный алгоритм работы системы. В составе системы могут быть использованы как
                    замки (электро-механические, электро-магнитные) и защелки, так и турникеты, шлюзовые кабины.<br><br>
                    - <strong>Система учета   рабочего времени  персонала</strong>  предназначена для  повышения эффективности
                    работы служащих и повышения трудовой дисциплины - система учета рабочего времени может работать, как в составе
                    единой системы контроля доступа, так и автономно.<br><br>
                    - <strong>«Электронные ключи»</strong> позволят создать образ современного  заведения в глазах постояльцев!
                </p>
            <h2>Интеграция и обеспечение взаимодействия в рамках единого комплекса.</h2>
            <p>
                Специализированная интеграционная платформа безопасности позволит интегрировать в единый комплекс<br>
                такие компоненты технической безопасности , как :<br>
                - система охранного видеонаблюдения ;<br>
                - системы контроля и управления доступом для обеспечения дифференцированного прохода персонала, клиентов
                в различные помещения предприятия, учета рабочего времени.;<br>
                - системы оперативной связи и оповещения для обеспечения немедленного реагирования сотрудников службы
                безопасности, отделов вневедомственной охраны, отделений полиции, охранных предприятий;<br>
                - средств инженерной защиты для программирования их реакции в случае регистрации определенных событий.
            </p>
            <h2>Организация единой системы безопасности для территориально распределенных объектов Сети Предприятия.</h2>
            <p>
                - удаленный доступ к данным и дистанционная работа с системой с использованием сетей связи,
                поддерживающих протокол TCP/IP, в том числе, через стандартный Web-browser;<br>
                - организация необходимого количества рабочих мест  всем сотрудникам, участвующим в процессе
                обеспечения безопасности и принятии организационных решений;<br>
                - возможность организации единого  централизованного хранилища видеоданных, репликацию видеоданных
                с удаленных серверов.<br>
                - разграничение прав доступа к данным и работы с системой для разных категорий пользователей.
            </p>
        </div>
<div class="office-form-data" id="office_form">
	<div class="office-form">
		<form method="post" action="" class="wpsc_checkout_forms">
			<br>
			<h2>Пожалуйста, заполните контактную информацию:</h2><br>
			<p>Области, отмеченные звёздочкой, должны быть заполненны.<br><br>
			<table class='wpsc_checkout_table'>
				<tr><th><label for="id_name">Имя*:</label></th><td><ul class="errorlist"><li>Имя обязательно для заполнения</li></ul><input type="text" name="name" id="id_name" /></td></tr>
				<tr><th><label for="id_phone">Телефон*:</label></th>
					<td>
						<ul class="errorlist"><li>Телефон обязателен для заполнения</li></ul><input type="hidden" name="phone" id="id_phone" class="hidden_phone" />
						<div class="phone-inp">
							<div class="phone-inp-click-area" onclick="fn_office_tel_click(this)"></div>
							<input type="text" name="tmp_phone1" class="phone1" maxlength="3" onkeyup="fn_office_tel_keyup(this,1,event)" />
							<input type="text" name="tmp_phone2" class="phone2" maxlength="3" onkeyup="fn_office_tel_keyup(this,2,event)" />
							<input type="text" name="tmp_phone3" class="phone3" maxlength="2" onkeyup="fn_office_tel_keyup(this,3,event)" />
							<input type="text" name="tmp_phone4" class="phone4" maxlength="2" onkeyup="fn_office_tel_keyup(this,4,event)" />
						</div>
					</td>
				</tr>
				<tr><th><label for="id_email">Email:</label></th><td><input type="text" name="email" id="id_email" /></td></tr>
				<tr><th><label for="id_address">Адрес:</label></th><td><textarea id="id_address" rows="2" cols="40" name="address"></textarea></td></tr>
				<tr><th><label for="id_comment">Комментарий:</label></th><td><textarea id="id_comment" rows="2" cols="40" name="comment"></textarea></td></tr>
				<tr><td></td><td align="center">
					<input class="make_purchase" type="submit" value="Сделать заказ" name="Good" alt="сделать заказ" style="background-image: none;" onclick="return fn_office_submit(this)" />
				</td></tr>
			</table>
		</form>
	</div>
</div>
<div class="office-form-data" id="office_form_result">
	<div class="office-form">
		<div class="result-text">
			Cпасибо большое за ваш заказ, в ближайшее время мы с вами свяжемся.
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/office.js"></script>
{% endblock %}