{% extends "base.html" %}
{% block site_wrapper %}
<div id="content_block" class="alignleft clearfix">
<div id="content">
	<div id="Breadcrumbs">
		<a href="/video-solutions">Типовые решения</a> »&nbsp; Парковка/Гаражный комплекс
	</div>

	<div class="office">
		<div class="intro">
			<div class="order n14">
				<h1>Видеонаблюдение на Парковку/Гаражный комплекс</h1><br>
				<a href="#" onclick="return fn_office_showFrom(false)" id="a_order"><img src="{{ STATIC_URL }}res/img/order.gif" alt="Заказать" /></a>
			</div>
			<div class="intro-right">
				<h2>Видеонаблюдение на Парковку/Гаражный комплекс.</h2>

				<strong>Наши решения для автомобильных парковок и гаражных комплексов - решение всего комплекса задач
                    обеспечения безопасности и автоматизации как отдельного заведения, так и всех предприятий  сети, а именно:</strong>
                <p>&bull; Видеоконтроль периметра и обзорное видеонаблюдение за прилегающей территорией.</p>
                <p>&bull; Видеоконтроль на территории.</p>
				<p>&bull; Контроль доступа.</p>
                <p>&bull; Автоматическое распознавание номеров.</p>
                <p>&bull; Организация единой системы безопасности для территориально распределенных объектов Сети Предприятия.</p>
            </div>
			<div class="clr"></div>

            <h2>Видеоконтроль периметра и обзорное видеонаблюдение за прилегающей территорией.</h2>
                <p>
                    Предупреждение возможности несанкционированного проникновения на территорию (перелаз, порча ограждений, подкоп),
                    пресечение фактов  вандализма.
                </p>
            <h2>Видеоконтроль на территории.</h2>
            <p>
                - Регистрация фактов правонарушений и преступлений, таких как порча (преднамеренная или непреднамеренная)
                автотранспортных средств, хищение личных вещей, угон автотранспортных средств;<br>
                - Предоставление данных для оперативного вмешательства сотрудников службы  безопасности
                в ход событий и предотвращение их нежелательного развития;<br>
                - Дистанционное управление видеокамерами для получения максимально полной картины происходящего;<br>
                - Превентивный эффект - не каждый злоумышленник решится на противоправное действие, зная об организованном видеонаблюдении;
            </p>
            <h2>Контроль доступа.</h2>
            <p>
                Сложно себе представить автомобильную парковку или гаражный кооператив без устройств, ограничивающих и регламентирующих
                проезд на территорию или выезд с неё.
                Наша компания предлагает полный спектр систем контроля и управления доступом от «классических» автономных шлагбаумов и ворот,
                до сетевых систем контроля и управления доступом на базе бесконтактных карт, «радиометок» или
                автоматического распознавания автономеров с открытием шлагбаума или ворот.
            </p>
            <h2>Автоматическое распознавание номеров</h2>
                <p>
                    Позволяет автоматизировать систему контроля и управления доступом и получать статистику
                    (совместно с фото и видеоизображением) о проехавшем автотранспорте.
                    Упрощенный принцип действия системы можно описать так: при проезде к шлагбауму
                    автомобиль попадает в зону обзора видеокамеры. Система  распознает номер транспортного средства,
                    сверяет с «черным» и «белым» списками и в зависимости от сценария
                    принимает решение о возможности или невозможности  проезда.  Модуль может быть интегрирован
                    в программный комплекс оплаты за пользование парковкой.
                </p>
            <h2>Организация единой системы безопасности для территориально распределенных объектов Сети Предприятия.</h2>
            <p>
                - удаленный доступ к данным и дистанционная работа с системой с использованием сетей связи,
                поддерживающих протокол TCP/IP, в том числе, через стандартный Web-browser;<br>
                - организация необходимого количества рабочих мест  всем сотрудникам, участвующим в процессе
                обеспечения безопасности и принятии организационных решений;<br>
                - возможность организации единого  централизованного хранилища видеоданных, репликацию видеоданных
                с удаленных серверов.<br>
                - разграничение прав доступа к данным и работы с системой для разных категорий пользователей.
            </p>
        </div>
<div class="office-form-data" id="office_form">
	<div class="office-form">
		<form method="post" action="" class="wpsc_checkout_forms">
			<br>
			<h2>Пожалуйста, заполните контактную информацию:</h2><br>
			<p>Области, отмеченные звёздочкой, должны быть заполненны.<br><br>
			<table class='wpsc_checkout_table'>
				<tr><th><label for="id_name">Имя*:</label></th><td><ul class="errorlist"><li>Имя обязательно для заполнения</li></ul><input type="text" name="name" id="id_name" /></td></tr>
				<tr><th><label for="id_phone">Телефон*:</label></th>
					<td>
						<ul class="errorlist"><li>Телефон обязателен для заполнения</li></ul><input type="hidden" name="phone" id="id_phone" class="hidden_phone" />
						<div class="phone-inp">
							<div class="phone-inp-click-area" onclick="fn_office_tel_click(this)"></div>
							<input type="text" name="tmp_phone1" class="phone1" maxlength="3" onkeyup="fn_office_tel_keyup(this,1,event)" />
							<input type="text" name="tmp_phone2" class="phone2" maxlength="3" onkeyup="fn_office_tel_keyup(this,2,event)" />
							<input type="text" name="tmp_phone3" class="phone3" maxlength="2" onkeyup="fn_office_tel_keyup(this,3,event)" />
							<input type="text" name="tmp_phone4" class="phone4" maxlength="2" onkeyup="fn_office_tel_keyup(this,4,event)" />
						</div>
					</td>
				</tr>
				<tr><th><label for="id_email">Email:</label></th><td><input type="text" name="email" id="id_email" /></td></tr>
				<tr><th><label for="id_address">Адрес:</label></th><td><textarea id="id_address" rows="2" cols="40" name="address"></textarea></td></tr>
				<tr><th><label for="id_comment">Комментарий:</label></th><td><textarea id="id_comment" rows="2" cols="40" name="comment"></textarea></td></tr>
				<tr><td></td><td align="center">
					<input class="make_purchase" type="submit" value="Сделать заказ" name="Good" alt="сделать заказ" style="background-image: none;" onclick="return fn_office_submit(this)" />
				</td></tr>
			</table>
		</form>
	</div>
</div>
<div class="office-form-data" id="office_form_result">
	<div class="office-form">
		<div class="result-text">
			Cпасибо большое за ваш заказ, в ближайшее время мы с вами свяжемся.
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/office.js"></script>
{% endblock %}