{% extends "base.html" %}
{% block site_wrapper %}
<div id="content_block" class="alignleft clearfix">
<div id="content">
	<div id="Breadcrumbs">
		<a href="/video-solutions">Типовые решения</a> »&nbsp; Подъезд
	</div>
	
	<div class="office">
		<div class="intro">
			<div class="order n4">
				<h1>Видеонаблюдение в подъезд</h1>
				<a href="#" onclick="return fn_office_showFrom(false)" id="a_order"><img src="{{ STATIC_URL }}res/img/order.gif" alt="Заказать" /></a>
			</div>
			<div class="intro-right">
				<h2>Видеонаблюдение в подъезд.</h2>
				<p>
					Система видеонаблюдения в подъезде позволит предотвратить случаи насилия и порчи имущества. Это сильный психологический момент для злоумышленников, маловероятно что кто то будет замышлять преступление под камерой.<br>
					В случае вандализма у жильцов будут доказательства.<br>
					Если в подъезде есть консьерж - видеонаблюдение поможет ему наблюдать за всем подъездом.
				</p>
				<strong>Наши решения для многоквартирных домов - решение всего комплекса задач обеспечения безопасности,
                    как отдельного подъезда, так и многоподъездного дома или микрорайона , а именно:</strong>
                <p>&bull; Видеонаблюдение на входе.</p>
                <p>&bull; Видеоконтроль за прилегающей территорией и парковкой.</p>
                <p>&bull; Видеонаблюдение на этажах и в лифтах.</p>
                <p>&bull; Система контроля доступа.</p>
				<p>&bull; Система автоматической регистрации автомобильных номеров.</p>
                <p>&bull; Интеграция и обеспечение взаимодействия в рамках единого комплекса.</p>
                <p>&bull; Организация единой системы безопасности для нескольких распределенных объектов.</p>
            </div>
			<div class="clr"></div>

            <h2>Видеонаблюдение на входе.</h2>
                <p>
                    Наряду с «классическим»  домофоном позволит, ограничить проход нежелательных посетителей,
                    получить видеоинформацию о всех входящих и выходящих людях.
                </p>
            <h2>Видеоконтроль за прилегающей территорией и парковкой.</h2>
                <p>
                    Помогут в обеспечении  безопасности транспортных средств жильцов и гостей
                    (как на автостоянке Комплекса, так и на прилегающей к зданию территории).
                </p>
            <h2>Видеонаблюдение на этажах и в лифтах.</h2>
                <p>
                    Позволят предотвратить или расследовать опасные и противоправные ситуации,
                    такие как ограбления, кражу личного имущества, вандализма и др.
                </p>
            <h2>Система контроля доступа.</h2>
                <p>
                    На входе ( при необходимости и на входе на каждый этаж) позволит максимально обезопасить себя
                    от посторонних лиц – при необходимости есть возможность использовать, как стандартные бесконтактные карты или брелоки,
                    так и «биометрические» считыватели.
                    Ограничение въезда на территорию шлагбаумом позволит избежать въезд и нахождение на территории сторонних автомобилей.
                </p>
            <h2>Система автоматической регистрации автомобильных номеров.</h2>
                <p>
                    Позволит не только вести автоматический учет въехавших/выехавших автомобилей,
                    но и (при интеграции с Системой контроля доступа) автоматизировать проезд на территорию  автотранспорта
                    ( существует возможность ведения «белого» и «черного» списков.
                </p>
            <h2>Интеграция и обеспечение взаимодействия в рамках единого комплекса.</h2>
                <p>
                    Средствами специализированной системы интеграционная платформа безопасности позволит интегрировать в единый комплекс
                    такие компоненты технической безопасности , как  система охранного видеонаблюдения, системы контроля
                    и управления доступом, системы оперативной связи и оповещения и  средств инженерной защиты .
                </p>
            <h2>Организация единой системы безопасности для нескольких распределенных объектов.</h2>
                <p>
                    Позволят вести  удаленный доступ к данным и производить дистанционную  работу с системой
                    с использованием сетей связи( в том числе, через стандартный Web-browser), организовать
                    необходимое количества рабочих мест  всем заинтересованным лицам, при необходимости вести
                    единый видеоархив  с нескольких объектов.
                </p>
        </div>
<div class="office-form-data" id="office_form">
	<div class="office-form">
		<form method="post" action="" class="wpsc_checkout_forms">
			<br>
			<h2>Пожалуйста, заполните контактную информацию:</h2><br>
			<p>Области, отмеченные звёздочкой, должны быть заполненны.<br><br>
			<table class='wpsc_checkout_table'>
				<tr><th><label for="id_name">Имя*:</label></th><td><ul class="errorlist"><li>Имя обязательно для заполнения</li></ul><input type="text" name="name" id="id_name" /></td></tr>
				<tr><th><label for="id_phone">Телефон*:</label></th>
					<td>
						<ul class="errorlist"><li>Телефон обязателен для заполнения</li></ul><input type="hidden" name="phone" id="id_phone" class="hidden_phone" />
						<div class="phone-inp">
							<div class="phone-inp-click-area" onclick="fn_office_tel_click(this)"></div>
							<input type="text" name="tmp_phone1" class="phone1" maxlength="3" onkeyup="fn_office_tel_keyup(this,1,event)" />
							<input type="text" name="tmp_phone2" class="phone2" maxlength="3" onkeyup="fn_office_tel_keyup(this,2,event)" />
							<input type="text" name="tmp_phone3" class="phone3" maxlength="2" onkeyup="fn_office_tel_keyup(this,3,event)" />
							<input type="text" name="tmp_phone4" class="phone4" maxlength="2" onkeyup="fn_office_tel_keyup(this,4,event)" />
						</div>
					</td>
				</tr>
				<tr><th><label for="id_email">Email:</label></th><td><input type="text" name="email" id="id_email" /></td></tr>
				<tr><th><label for="id_address">Адрес:</label></th><td><textarea id="id_address" rows="2" cols="40" name="address"></textarea></td></tr>
				<tr><th><label for="id_comment">Комментарий:</label></th><td><textarea id="id_comment" rows="2" cols="40" name="comment"></textarea></td></tr>
				<tr><td></td><td align="center">
					<input class="make_purchase" type="submit" value="Сделать заказ" name="Good" alt="сделать заказ" style="background-image: none;" onclick="return fn_office_submit(this)" />
				</td></tr>
			</table>
		</form>
	</div>
</div>
<div class="office-form-data" id="office_form_result">
	<div class="office-form">
		<div class="result-text">
			Cпасибо большое за ваш заказ, в ближайшее время мы с вами свяжемся.
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/office.js"></script>
{% endblock %}