a{
	outline: none;
}
.clr{
	clear: both;
}
.hidden{
	display: none;
	visibility: hidden;
}
body{
	padding-top: 120px;
}
.header, .content{
	padding: 0 20px;
}
.client_filter *{
	vertical-align: middle;
}

#myModal{
	width: 760px;
	position: absolute;
	margin: 0 0 0 -360px;
	top: 40px;
}
#myModal .modal-body{
	max-height: none;
}
#client_main_table hr{
	margin: 8px 0;
}
#client_main_table td{
	vertical-align: middle;
}
#client_main_table select{
	margin: 0;
}
.litle_stat li{
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
}
#clients_filter_select_chzn{
	width: auto !important;
}
.table_date, .timepicker, .recall_block .datepicker{
	background: none;
	border-color: rgba(0,0,0,0);
	box-shadow: none;
	width: 100px;
}
.client_comment_area{
	background: none;
	border-color: rgba(0,0,0,0);
	box-shadow: none;
	resize: none;
}
.table_date:focus, .timepicker:focus, .client_comment_area:focus, .recall_block .datepicker:focus{
	background: #fff;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	resize: auto;
}
.timepicker:focus{
	width: 60px;
}
.date_block{
	white-space: nowrap;
}
select{
	height: 20px;
	padding: 0;
}
.progress {
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    padding: 1px;
    position: relative;
    width: 400px;
}
.bar {
    background-color: #B4F5B4;
    border-radius: 3px 3px 3px 3px;
    height: 20px;
    width: 0;
}
.percent {
    display: inline-block;
    left: 48%;
    position: absolute;
    top: 3px;
}
.clientsuser{
	margin-right: 40px;
	height: 28px;
	line-height: 28px;
}
.client_page_field{
	padding: 5px 0;
}
.textright{
	text-align: right;
}
.navbar{
	background: #fff;
}
.navbar hr{
	margin-bottom: 0;
}
.navbar .menu{
	padding: 10px 10px 0;
}
input.success{
	color: #468847;
}
input.error{
	color: #B94A48;
}

.cold_list td{
	padding: 0;
}
.cold_list td a{
	display: block;
	padding: 8px
}
.failur_block, .comment_block{
	margin-bottom: 18px;
}
.failur_block label{
	min-height: 18px;
    padding-left: 18px;
}
.failur_block label input{
	float: left;
    margin-left: -18px;
}