a{
	outline: none;
}
.clr{
	clear: both;
}
.hidden{
	display: none;
	visibility: hidden;
}
body{
	padding-top: 60px;
}
.header, .content{
	padding: 0 20px;
}
.client_filter *{
	vertical-align: middle;
}

#myModal{
	width: 760px;
	position: absolute;
	margin: 0 0 0 -360px;
	top: 40px;
}
#myModal .modal-body{
	max-height: none;
}
#client_main_table hr{
	margin: 8px 0;
}
#client_main_table td{
	vertical-align: middle;
}
#client_main_table select{
	margin: 0;
}
.litle_stat li{
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
}
#clients_filter_select_chzn{
	width: auto !important;
}
.table_date, .timepicker{
	background: none;
	border-color: rgba(0,0,0,0);
	box-shadow: none;
	width: 100px;
}
.client_comment_area{
	background: none;
	border-color: rgba(0,0,0,0);
	box-shadow: none;
	resize: none;
}
.table_date:focus, .timepicker:focus, .client_comment_area:focus{
	background: #fff;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	resize: auto;
}
.timepicker:focus{
	width: 60px;
}
.date_block{
	white-space: nowrap;
}